First Question:
    
    Write a python program to scrape data for “Data Analyst” Job position in
    “Bangalore” location. You have to scrape the job-title, job-location, company_name,
    experience_required. You have to scrape first 10 jobs data.
    This task will be done in following steps:
    1. first get the webpage https://www.naukri.com/
    2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
    in “enter the location” field.
    3. Then click the search button.
    4. Then scrape the data for the first 10 jobs results you get.
    5. Finally create a dataframe of the scraped data.

In [60]:
import pandas as pd
import selenium
from selenium import webdriver

In [61]:
driver=webdriver.Chrome('chromedriver.exe')

In [16]:
url='https://www.naukri.com/'
driver.get(url)

In [17]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [18]:
search_job.send_keys('Data Analyst')

In [19]:
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc

In [20]:
search_loc.send_keys('Bangalore')

In [21]:
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

In [22]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="cb090712-b28f-4da3-89bd-3fea69f293f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="8fad6dee-dc27-430c-8740-a816ac1a9608")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="7a8ad429-6ecb-4935-821e-c8356b745b95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="ddf172b8-1169-4507-8548-178cad4c2724")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="5f500ca2-7f9a-417a-acd8-14209c4de332")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="aaae4e38-cdb7-49a2-a6b2-2ab4f38635d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="f7513981-0b8c-40e4-91a9-a8b6351147ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="77c42396-4e39-4f02-8139-0dbbfea97c75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="c7d6db64-61e3-4b71-bc25-35ad40a7de77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="5f7da961-93ec-4d80-a1ef-843b06ab96b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="c72dc445-ae4b-4b79-b1a3-195a508f5cb7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="014e202e-4295-41e3-81b7-20d157fa8813")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="77ab3f80-671b-4d2a-acbb-a00a826f5047")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="02d60f86-9b3b-4529-877a-57330d3c59b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="92dcb74e-a37d-49c7-b182-b8f78ac9490b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="803648b8-4ce5-4412-8fbf-52de3e1cc8eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="45326835-022e-4acb-9501-cee8f9ae1d28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="1d38391f-5488-43c4-8d6b-d970566520ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="0ca0a455-3eba-43b8-b61d-ceea3a5a7017")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="c20e3606-7e9b-4a82-a359-f4a87a6e5bfe")>]

In [23]:
Job_title=[]
for i in range(0,10):
    Job_title.append(title_tags[i].text)
Job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Data analysts',
 'Data Analyst (2positions)//immediate Joiners//bangalore',
 'Data analysts',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Category Demand Management (Revenue & Growth)',
 'Job Opportunity For Talent Data Analyst - Cornerstone OnDemand',
 'Consultant-Data Analyst -Bangalore',
 'Data Analyst - Work from Home']

In [33]:
location_tag=driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')
location_tag

[<selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="43c72fb9-4b41-4934-b19d-e1be3bd43339")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="778e312f-bb26-4d9b-a1ee-22e8bb50a55f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="02f9fd0b-5913-4394-8256-a5cb5474ff97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="b6fca9f1-105b-4d45-8b16-45c3c4f93412")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="406f062b-9662-4f50-b3d1-9f407ac8707f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="c1ad8d06-dcbd-4f22-85ae-b30b73011661")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="124a0c20-107a-49ad-abfc-b18f027e33b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="0403f8c0-c8f0-4693-baab-d0bbc8b9fd5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="414550b3-ec43-4a22-8a1d-fc5e75715660")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="ca6e2f6b-c77c-4ac5-84e4-32908d40ca17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="7bff6bae-bc0a-473e-ad89-3f1dc5e198fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="2db59216-54d2-47e6-b6d9-3598cb5c363b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="3881551b-0fd1-40d5-a915-3ad54320df96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="0077ab7f-6f08-4b42-a93d-753eeb702f80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="271bd484-553b-4c5c-bdeb-2f4a20270016")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="07651f3a-a911-43ba-97a5-cd7790fc6d92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="82f06a77-a75a-4846-929b-27f5a9b8f24d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="c15fa1d2-b2d8-48a8-b444-03b4d60cd1ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="9e04f3ad-5447-487c-96c2-25d418a05c63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="d4c48723-a731-4b2b-acc2-8ce8b8448ca9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="1a2feb90-1296-4203-abb5-134a272b77d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="109c8c62-9b9f-4873-acf2-8605ffa6658d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="97943c0c-f7d2-4de6-9d45-638132121ad4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="b3553eeb-82b9-4875-9f99-a9d460524cb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="3fea677c-f3d9-4900-a118-d116cd3065d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="b89e2419-2b8d-43db-9227-3d76cf45cc66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="f4fda9cc-7fd6-4ae5-9895-2a98bc2fb897")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="835228ae-31f7-4c50-8052-3e2b4721a470")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="a2a879b1-803a-440e-a811-9eae32e77a93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="cfa290ad-7308-466e-81e5-4762ba5e7016")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="ec4588ab-0c4c-4721-9b16-1027966de648")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="8012e315-7bb5-42a1-830f-d0b012ba9a12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="e9ffc347-abd3-4587-be60-ceaf7a71be4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="7e38402e-d15d-4580-a4ba-b2b16e2417eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="b6fa9a26-0837-4e35-9b90-96bee75b04b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="c411f0a6-eae5-486f-adbd-de5d5257ab58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="30e4e54f-0feb-40e6-a054-760ac9af25b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="9efc508b-d5ca-453b-acea-5e69abb293b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="62571c32-a719-4242-8bae-81844f8deef7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="b62dc865-ac5d-4355-82ef-cb7c1702ce57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="7fceeb02-dbe4-4e06-b926-fafb09da9cf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="3ebb01de-8ae6-4a8f-a9b9-3bcb61ef615b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="1a7b1228-43f2-44f6-9864-97ec61717849")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="f47eb650-6c67-47ac-a4f2-19d0d08b5e61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="e01e42f2-19a1-42c0-8643-bbf6f57c8589")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="0de45e59-be81-4b77-ba2a-95873c011522")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="fe5b6588-633b-4cc7-87a0-eeb828ea6549")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="5a97fa68-dd0f-4122-a774-162c27e739f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="1bc71ea0-0a3b-4456-a028-5f418bf528e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="765bfc33-c8d8-4f34-8d9a-a176b60c922f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="a71cdca8-16b2-4fe0-855e-c8a940497796")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="a0742835-164f-40e5-a9cd-9c391ae89238")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="3bbf62a1-c19e-42fa-91c5-0dc89beb44ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="5d523f38-551a-44c8-95ed-e395c89e5ac9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="eb44ee30-8582-401d-b68d-efd815ba6e1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="ae268b75-d684-46b7-ae63-90375b165547")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="be0a8835-ca9f-4bc3-8eab-3d1e2f74ef76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="6cfbc640-45da-45aa-8d7b-dd255185a1fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="6bb2cc35-4cde-4466-ad61-caf9de406150")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="4c3d8d78-d510-4dda-b59e-d87d8432e7f1")>]

In [37]:
Location=[]
for i in range(2,30,3):
    Location.append(location_tag[i].text)
Location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Mumbai (All Areas)']

In [38]:
company_tags=driver.find_elements_by_xpath('//div[@class="mt-7 companyInfo subheading lh16"]')
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="25e7bb25-bbdf-47b7-a017-27b3fe2d2dc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="9a5eaae4-1681-401f-b10d-78df0c508170")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="169ecb0f-1555-48db-bd54-97a0f6679feb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="cf57fbec-2e82-4c96-8a7a-fcce9dd11813")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="678c2f3c-d866-4da0-abbe-69aa9655cafb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="33e0aed2-e6c0-4c5b-929c-8e231fe40d0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="05aa5722-9aef-4377-8748-0340fa686ca7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="2a5ec7c5-3283-45eb-9d68-590edb661051")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="eeee447b-553b-4bc5-8786-d7cda1fe999f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="68daa8ed-fbdb-489a-9a46-26dad2cc903a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="e484d9d8-2e96-4930-93cd-efc8a737cde0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="fc1128b4-63ca-412a-ad39-6960f050fc7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="d6e1dfe9-8a33-40c1-a7f8-99813f0e02cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="8c0d41ab-c01d-43c1-a28d-ba503ae438f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="0456b433-b2d9-40c9-8f3d-dfcdbf691dcf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="cd1f1060-9f9a-458f-ac24-a33f19b45731")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="e7301226-c0c8-46cd-a948-503200523e61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="7b6f25cc-d85b-491b-b305-31debf6884ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="3aaeb578-1e26-461a-87b2-21f01d213aea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="2a80d3c6-5e28-4efc-ad96-92f792f709be")>]

In [39]:
Company_Name=[]
for i in range(0,10):
    Company_Name.append(company_tags[i].text)
Company_Name

['Inflexion Analytix Private Limited',
 'IBM India Pvt. Limited\n4.0\n(9816 Reviews)',
 'Tech Mahindra Ltd.\n3.6\n(11299 Reviews)',
 'IBM India Pvt. Limited\n4.0\n(9816 Reviews)',
 'Myntra Designs Pvt. Ltd.\n4.1\n(760 Reviews)',
 'Myntra Designs Pvt. Ltd.\n4.1\n(760 Reviews)',
 'Myntra Designs Pvt. Ltd.\n4.1\n(760 Reviews)',
 'Cornerstone OnDemand Services India Pvt Ltd\n4.4\n(14 Reviews)',
 'Innovsource Services Private Limited\n4.2\n(636 Reviews)',
 'POWER STORES E COMMERCE PRIVATE LIMITED']

In [42]:
experience_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
experience_tag

[<selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="43c72fb9-4b41-4934-b19d-e1be3bd43339")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="b6fca9f1-105b-4d45-8b16-45c3c4f93412")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="124a0c20-107a-49ad-abfc-b18f027e33b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="ca6e2f6b-c77c-4ac5-84e4-32908d40ca17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="3881551b-0fd1-40d5-a915-3ad54320df96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="07651f3a-a911-43ba-97a5-cd7790fc6d92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="9e04f3ad-5447-487c-96c2-25d418a05c63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="109c8c62-9b9f-4873-acf2-8605ffa6658d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="3fea677c-f3d9-4900-a118-d116cd3065d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="835228ae-31f7-4c50-8052-3e2b4721a470")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="ec4588ab-0c4c-4721-9b16-1027966de648")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="7e38402e-d15d-4580-a4ba-b2b16e2417eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="30e4e54f-0feb-40e6-a054-760ac9af25b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="b62dc865-ac5d-4355-82ef-cb7c1702ce57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="1a7b1228-43f2-44f6-9864-97ec61717849")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="0de45e59-be81-4b77-ba2a-95873c011522")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="1bc71ea0-0a3b-4456-a028-5f418bf528e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="a0742835-164f-40e5-a9cd-9c391ae89238")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="eb44ee30-8582-401d-b68d-efd815ba6e1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1262e6927b8bd572f24b146fc1076d", element="6cfbc640-45da-45aa-8d7b-dd255185a1fe")>]

In [44]:
Experience=[]
for i in range(0,10):
    Experience.append(experience_tag[i].text)
Experience

['0-3 Yrs',
 '5-6 Yrs',
 '4-8 Yrs',
 '3-5 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '1-4 Yrs',
 '3-5 Yrs',
 '2-7 Yrs',
 '2-5 Yrs']

In [45]:
df1=pd.DataFrame()
df1['Job_title']=Job_title
df1['Location']=Location
df1['Company_Name']=Company_Name
df1['Experience']=Experience

In [47]:
df1.head(10)

,Job_title,Location,Company_Name,Experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data analysts,Bengaluru/Bangalore,IBM India Pvt. Limited\n4.0\n(9816 Reviews),5-6 Yrs
2,Data Analyst (2positions)//immediate Joiners//...,Bangalore/Bengaluru,Tech Mahindra Ltd.\n3.6\n(11299 Reviews),4-8 Yrs
3,Data analysts,Bangalore/Bengaluru,IBM India Pvt. Limited\n4.0\n(9816 Reviews),3-5 Yrs
4,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.\n4.1\n(760 Reviews),3-5 Yrs
5,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.\n4.1\n(760 Reviews),3-8 Yrs
6,Data Analyst - Category Demand Management (Rev...,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.\n4.1\n(760 Reviews),1-4 Yrs
7,Job Opportunity For Talent Data Analyst - Corn...,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",Cornerstone OnDemand Services India Pvt Ltd\n4...,3-5 Yrs
8,Consultant-Data Analyst -Bangalore,Bangalore/Bengaluru,Innovsource Services Private Limited\n4.2\n(63...,2-7 Yrs
9,Data Analyst - Work from Home,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)",POWER STORES E COMMERCE PRIVATE LIMITED,2-5 Yrs

Second Question:
    
    Write a python program to scrape data for “Data Scientist” Job position in
    “Bangalore” location. You have to scrape the job-title, job-location,
    company_name, full job-description. You have to scrape first 10 jobs data.
    This task will be done in following steps:
    1. first get the webpage https://www.naukri.com/
    2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
    “Bangalore” in “enter the location” field.
    3. Then click the search button.
    4. Then scrape the data for the first 10 jobs results you get.
    5. Finally create a dataframe of the scraped data.

In [48]:
driver=webdriver.Chrome('chromedriver.exe')

In [49]:
url='https://www.naukri.com/'
driver.get(url)

In [50]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [51]:
search_job.send_keys('Data Scientist')

In [52]:
location_tag=driver.find_element_by_id('qsb-location-sugg')
location_tag

In [53]:
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

In [55]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="3e767d87-9fb5-4e6f-839f-c9e220c28ca7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="31e8320c-c6b7-4aa9-a156-c6a08d8d93e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="835ae072-efd7-49f3-8c94-1649a6a4b8a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="dda7acd4-e8f2-414c-8327-bd34e1a2cb83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="991fcee7-dd81-47b2-a105-a751bdceae41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="822cd88e-3639-4efc-be6d-5ca629ec59f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="1a764e7b-7b38-4d81-8a73-bfbb3df1c699")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="776b36ed-f8fa-4f0f-b1df-4eeaa8e4f8d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="78c97650-2bad-44a5-95b3-39ab76cc13e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="91eb6ba9-0711-47db-af34-59db800bb0c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="98cb2fec-9c3c-4116-8778-0dbaeb531547")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="806c3741-8487-4ae7-abc3-316c5d38478f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="62248eac-3e37-4ee1-b944-55a97f01a495")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="67138e55-2e8a-4f40-8a21-cc222fcbd80f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="95a3400b-173d-4274-b7a3-58f43baafb2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="a0186954-cf28-4ede-b8f8-2085fca9ce95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="60754b79-d891-494d-a069-0bbc905eea06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="fb6b6c90-6245-4e72-87d2-27baa6af62b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="9129e0e7-754a-4e4e-be11-a56b3630d416")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="fa55d46d-3361-4361-ad5b-5d4b110931b3")>]

In [56]:
Job_title=[]
for i in range(0,10):
    Job_title.append(title_tags[i].text)
Job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist (marketplace)',
 'Data analytics / Data scientist intern (work from Home)',
 'data scientist',
 'Senior / Lead Data Scientist',
 'Senior Data Scientist - SQL/Spark/Python',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist, Machine Learning',
 'Senior Data Scientist',
 'VP - Sr. Data Scientist For Morgan Stanley, Bangalore']

In [58]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tag

[<selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="4bf71255-b286-4352-9448-5304615710b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="ad86e6aa-f21e-471b-a978-2c5b1388a473")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="813cf753-a200-47f9-91e6-d52214f5c07e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="e1dba987-8804-4edd-a2ca-8bb56c963a00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="1990374c-a94a-45b6-b534-67a469fc05fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="e2e522e7-8c9c-4a96-987e-5ca8e801420a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="c6089883-de2b-41d0-8dac-f46a2cd90eef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="44370b22-09ec-4fc4-83c5-e9db4bf14ba8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="2f5e06f8-a38f-482c-89d6-a40f9f5b6774")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="def4ff7a-9228-47c1-94e1-7fbf44ea5246")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="4b2baaee-0927-4103-ae49-7564ed59909b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="7cb5f35a-e397-4445-bb38-71cb195eba60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="cfccc960-5c17-48b0-88c6-4e7c86104923")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="3393ee24-eba9-4e46-8da2-f7b3aa04f459")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="8a5c3ef2-2e1a-4e54-bf61-f8ce4c59face")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="ada426cb-26ad-4999-a1ac-01c836405f3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="9784179b-540d-4d3f-b1de-1b6ee2892fdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="d57539cb-fbaf-443c-bac5-cdc534c4a042")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="5fd86372-6d97-4b81-822c-c424a21f0c4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="70eb27cf-7894-4dc3-b6ca-75275dc13558")>]

In [60]:
Company_Name2=[]
for i in range(0,10):
    Company_Name2.append(company_tag[i].text)
Company_Name2

['Inflexion Analytix Private Limited',
 'Walmart Global Tech India',
 'TalkValley LLC',
 'Global Talent Pool',
 'TVS CREDIT SERVICES LIMITED',
 'Datamatics Business Solutions',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'Fractal Analytics',
 'RedBus',
 'Morgan Stanley Advantage Services']

In [62]:
location_tag=driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')
location_tag

[<selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="2e42189c-9fd5-402e-8580-a0f48cd82b62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="a6d9d25b-d5bf-409b-b8c5-980c77458495")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="2ef8ae1a-29c7-4369-9a91-f97d087326c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="0bf3ec2e-d160-4fa6-861a-bdd5acad200e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="02f8f857-a6d2-4ff3-9d16-ea011453d6b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="cb0a1472-27c8-40f7-93b4-a42ed35ceae0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="a41ee407-3529-4f33-87ee-610019f5f093")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="eeb0d624-57da-4184-ab40-8bad1b26f31f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="1d03f481-bd79-4d06-95ec-3a889c5c92cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="3e4db7aa-5864-4821-b399-a387f4432494")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="0e781d39-66f7-4744-8031-4f83cd50c205")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="e8439de5-eec9-4769-aec5-d1fefbc35b88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="1bc94289-437b-44a2-be61-9371a1a18e04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="16aed69f-aad5-4858-9b3e-13c1163cdcbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="0b69d47c-4ea6-4dcb-a4c4-c709fa2bf601")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="ac638e13-5c88-4b28-a461-ece5bb68538f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="2c49aaa9-992f-4d62-b1c4-92759a7e572c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="8c01c4fd-7e03-4454-9fad-1afbaeda87bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="29df7013-e196-43d2-bfaf-0ac677756554")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="bbc18c08-46bd-4a2e-b4ea-30285b0cfca1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="a2df301f-e549-4578-81f4-49f00cc76f2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="1e77f7b3-d397-4420-b01f-cbfb0c577064")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="0b3e7eff-1975-40da-8a33-bf8c36c0cc16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="c5aad9ad-7555-4139-bc0f-f30908ba3688")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="3abf71c6-e8b5-4984-a510-35d139e335c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="324162ef-a5c3-4759-9094-c69b560e8ad1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="97a2960a-f252-407d-bb8d-43fa0237feda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="90478089-143f-421b-99aa-30c77c140b59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="f044ff1a-eeb4-4a43-b022-138ca8aed802")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="c85482ac-8a91-47a7-9071-b6b823cae948")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="83ff2cac-d5f6-4ff7-9f62-32ec81bc8b5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="b4421968-985b-4c64-acc8-9fd9c74e696e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="58561114-2255-48ee-a160-4e0308d2450c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="549ba743-85dd-4493-9146-7005acba7f9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="eeaaf7cd-eb90-4ae0-8a25-de5894019a76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="58d2161b-7d6f-4607-a710-b522802ddc81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="63a6fa58-98ca-4ff0-8e9a-bf68bea37046")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="8f163c4b-2837-4756-a07f-5ab6b933a2bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="6d6ec0f6-ac64-4cf6-8280-999573da4205")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="28613709-9a21-44a2-970f-9810badfa891")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="cf602205-0bed-4727-87a5-e54873225e55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="53031cd2-8781-46f9-bf3d-16ee6488cd6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="0b97b6be-01b2-4296-9d88-5a8d28984e6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="4c1c2411-1c74-44db-959b-995743517d94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="3154d49b-7fc1-4353-a73f-ed0a12e303c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="c23979fb-d217-4458-96fa-26297f2a9390")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="84b457b0-257d-4f0f-b4c1-e235e80cfee2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="10200de4-d3a6-4076-9bb8-336ef6edae63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="d3d9284f-bfac-4745-b6a4-69bab43ff98a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="d37ea9be-3e3a-4508-b908-55858353a92a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="b6dd4a41-7cea-4e66-b83d-292fe2ec359d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="d360c804-e1e7-4d06-9622-ff635f9c44e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="0f3993af-3141-4a81-8357-442ab191921b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="211f98c3-0b56-4058-bddd-289b557a0ed1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="f6c3165e-726b-4e0d-b1eb-9cf36247306b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="8f67b592-a62b-43e6-982a-1f7990f53fdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="a4b0f8ac-7303-40cd-8c6e-a98b1040a752")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="74d63984-6feb-4863-8fd6-ce22708960e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="17c0f576-a31d-437a-8ee0-36c0565ec3db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="15b77da3aa331f9cdf3d4a956e4e05ec", element="6c9098f0-7161-4929-adf1-74869f305347")>]

In [64]:
Location2=[]
for i in range(2,30,3):
    Location2.append(location_tag[i].text)
Location2

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Other',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Mumbai, Thane, Navi Mumbai',
 'New Delhi',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [69]:
descr=driver.find_element_by_xpath('//a[@class="title fw500 ellipsis"]')
descr.click()

In [84]:
job_discriptions=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
discriptions=[]
for i in range(0,10):
    discriptions.append(job_discriptions[i].text)
discriptions

['Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to...',
 'oQualifications oPhD with 2 years of experience 4-year bachelors degree with 7 years of...',
 'Duration of the internship: 3 months+ internship completion certificate We are a group ...',
 'Graduate level math and statistics knowledge is preferred Good Python programmers with ...',
 'Experience in working with large data sets and big data systems (SQL, Hadoop, Hive, etc...',
 'Artificial Intelligence and Machine Learning experience in building data modelsEducatio...',
 'Employment type - Full timeFreshers are welcome with the good knowledge of SQL / MySQL ...',
 'Experience of working on end-to-end data science pipeline: problem scoping, data gather...',
 'Job Role: Senior Data Scientist Reporting To: Head of Data Science Total Exp: 5 - 7 yea...',
 'About UsMorgan Stanley is a leading global financial services firm providing a wide ran...']

In [85]:
df2=pd.DataFrame()
df2['Job_title']=Job_title
df2['Company_Name']=Company_Name2
df2['Location']=Location2
df2['Job descriptions']=discriptions

In [87]:
df2.head(10)

,Job_title,Company_Name,Location,Job descriptions
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Applications invited from all Freshers and exp...
1,Senior Data Scientist (marketplace),Walmart Global Tech India,Other,oQualifications oPhD with 2 years of experienc...
2,Data analytics / Data scientist intern (work f...,TalkValley LLC,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",Duration of the internship: 3 months+ internsh...
3,data scientist,Global Talent Pool,Bangalore/Bengaluru,Graduate level math and statistics knowledge i...
4,Senior / Lead Data Scientist,TVS CREDIT SERVICES LIMITED,"Pune, Chennai, Bangalore/Bengaluru",Experience in working with large data sets and...
5,Senior Data Scientist - SQL/Spark/Python,Datamatics Business Solutions,"Mumbai, Thane, Navi Mumbai",Artificial Intelligence and Machine Learning e...
6,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),New Delhi,Employment type - Full timeFreshers are welcom...
7,"Data Scientist, Machine Learning",Fractal Analytics,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Experience of working on end-to-end data scien...
8,Senior Data Scientist,RedBus,Bangalore/Bengaluru,Job Role: Senior Data Scientist Reporting To: ...
9,"VP - Sr. Data Scientist For Morgan Stanley, Ba...",Morgan Stanley Advantage Services,Bangalore/Bengaluru,About UsMorgan Stanley is a leading global fin...

Question 3:
    
    You have to use the location and salary filter.
    You have to scrape data for “Data Scientist” designation for first 10 job results.
    You have to scrape the job-title, job-location, company_name,
    experience_required.
    The location filter to be used is “Delhi/NCR”
    The salary filter to be used is “3-6” lakhs
    The task will be done as shown in the below steps:
    1. first get the webpage https://www.naukri.com/
    2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
    3. Then click the search button.
    4. Then apply the location filter and salary filter by checking the respective boxes
    4. Then scrape the data for the first 10 jobs results you get.
    5. Finally create a dataframe of the scraped data.
    Note- All of the above steps have to be done in code. No step is to be done
    manually

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
url='https://www.naukri.com/'
driver.get(url)

In [4]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [5]:
search_job.send_keys('Data Scientist')

In [6]:
search_tag=driver.find_element_by_xpath('//button[@class="btn"]')
search_tag.click()

In [11]:
loc_filter=driver.find_element_by_xpath('//span[@title="Delhi / NCR"]')
loc_filter

In [12]:
loc_filter.click()

In [13]:
salary_filter=driver.find_element_by_xpath('//span[@title="3-6 Lakhs"]')
salary_filter.click()

In [16]:
Job_title=[]
for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    Job_title.append(i.text)
Job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Data analytics / Data scientist intern (work from Home)',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist',
 'Junior Data Scientist',
 'We are hiring- Data Scientist +Python- Noida',
 'Data Scientist',
 'Data Analyst/Scientist Big Data, Statistical Techniques',
 'Senior Data Scientist',
 'Hiring For Data Scientist @ Prodapt Solutions',
 'Data Scientist - High growth VC backed Influencer Marketplace',
 'Immediate Opening : Data Scientist - Python/Machine Learning',
 'Data Scientist',
 'Data Scientist',
 'Business Analyst- Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Associate Data Scientist']

In [17]:
Company_Name=[]
for i in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
    Company_Name.append(i.text)
Company_Name

['Inflexion Analytix Private Limited',
 'TalkValley LLC',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'Fractal Analytics',
 'R Systems International Ltd.',
 'RANDSTAD INDIA PVT LTD',
 'Milliman India Pvt Ltd',
 'The Search House (A Div of JSD Search House Pvt. L td.)',
 'iNICU',
 'BIZZ-BUDDY ENTERPRISES PRIVATE LIMITED',
 'Ravgins International Pvt. Ltd.',
 'GyanScore Services Private Limited',
 'BlackBuck',
 'Country Veggie',
 'Wipro',
 'Evalueserve.com Pvt. Ltd',
 'Mahajan Imaging',
 'Mahajan Imaging',
 'Right Step Consulting',
 'Blow Trumpet Solutions']

In [20]:
location_tag=driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')

In [23]:
Location=[]
for i in range(2,30,3):
    Location.append(location_tag[i].text)
Location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida(Sector-59 Noida)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Delhi',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR']

In [26]:
experience_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
experience_tag

[<selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="3f57efbf-aa02-43be-8934-6d7c89fe5929")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="7abbec52-3823-4848-b6a3-19cd3154a8f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="60381d7c-1591-430c-82ec-229304e79147")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="909bb6ea-d2f8-4f9b-8698-c83cecd67f38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="ea687ed0-7cc3-49b3-a376-28057f4e1b83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="1ccdc61b-14ce-4938-b90a-00b274e75842")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="15eeb7be-e216-4118-beca-e61b22baf684")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="2b338453-cc67-4767-9511-18c4c07aac5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="d98a28cf-e8ca-499a-976b-8e1a28e2fc91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="dbed42fb-c49a-4bd4-8aa1-3ba034cdc185")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="3855ad0b-217a-4742-9cfb-55ae1322f9c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="1dc32198-15d7-44aa-adcb-00d4ed829f4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="9a0cc278-0f72-4000-a150-a0f4848a1a01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="d8a1c21a-8605-4b19-bca7-11f496ae336f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="3f613b82-34b9-406d-b844-d62603766846")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="bcb375e9-816b-4f4f-a67f-62150ce2aa8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="6fa9d295-4f84-41fb-9d0c-4c475414b9eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="80b1ecd6-4ef7-461b-8177-547a8406b62d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="2008ba19-085b-4717-a6ef-6d1c0109cf52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48f10cef2544a229f43638ce901b270e", element="dcbf8eef-6e86-437c-bb28-c4a81a7117e7")>]

In [27]:
experience=[]
for i in range(0,10):
    experience.append(experience_tag[i].text)
experience

['0-3 Yrs',
 '0-5 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '3-5 Yrs',
 '4-7 Yrs',
 '2-5 Yrs',
 '2-7 Yrs',
 '1-5 Yrs',
 '5-10 Yrs']

In [28]:
df3=pd.DataFrame()
df3['Job_title']=Job_title[0:10]
df3['Company_Name']=Company_Name[0:10]
df3['Location']=Location
df3['Experience']=experience

In [30]:
df3.shape

(10, 4)

In [31]:
df3.head()

,Job_title,Company_Name,Location,Experience
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Data analytics / Data scientist intern (work f...,TalkValley LLC,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",0-5 Yrs
2,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),New Delhi,0-5 Yrs
3,Data Scientist,Fractal Analytics,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs
4,Junior Data Scientist,R Systems International Ltd.,Noida(Sector-59 Noida),3-5 Yrs

Question 4:
    
    Write a python program to scrape data for first 10 job results for Data scientist
    Designation in Noida location. You have to scrape company_name, No. of days
    ago when job was posted, Rating of the company.
    This task will be done in following steps:
    1. first get the webpage https://www.glassdoor.co.in/index.htm
    2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
    in “location” field.
    3. Then click the search button. You will land up in the below page:
    4. Then scrape the data for the first 10 jobs results you get in the above shown
    page.

In [41]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.glassdoor.co.in/index.htm')

In [49]:
import time

In [50]:
search_job1=driver.find_element_by_id('sc.keyword')
time.sleep(10)
search_loc=driver.find_element_by_id('sc.location')
time.sleep(10)
search_btn=driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr"]')

In [51]:
search_job1.send_keys('Data Scientist')
time.sleep(10)
search_loc.send_keys('Noida')
time.sleep(10)
search_btn.click()

In [52]:
Company_Name=[]
for i in driver.find_elements_by_xpath('//a[@class=" css-l2wjgv e1n63ojh0 jobLink"]/span'):
    Company_Name.append(i.text)
Company_Name

['Ginger Webs Pvt. Ltd.',
 'Crowe',
 'Biz2Credit Inc',
 'Mogli Labs India Private Limited',
 'Techlive',
 'Ericsson',
 'dunnhumby',
 'CRMNEXT',
 'Amploy',
 'WishFin',
 'SearchUrCollege',
 'Jubna',
 'CRMNEXT',
 'Constems-AI Systems Private Limited',
 'ANI Calls India Private Limited',
 'ANI Calls India Private Limited',
 'Pinnacle Digital Analytics pvt ltd',
 'Skyjobs hr services',
 'ANI Calls India Private Limited',
 'MasterCard',
 'ANI Calls India Private Limited',
 'Innovacer',
 'xtLytics',
 'Unofin Technology LLP',
 'American Express',
 'Jobsbale',
 'Lantern Digital Services',
 'Genpact',
 'United Airlines Inc.',
 'Scry Analytics']

In [53]:
Days=[]
for i in driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]'):
    Days.append(i.text)
Days

['1d',
 '9d',
 '30d+',
 '6d',
 '30d+',
 '7d',
 '1d',
 '30d+',
 '7d',
 '30d+',
 '30d+',
 '9d',
 '30d+',
 '13d',
 '30d+',
 '30d+',
 '9d',
 '30d',
 '30d+',
 '15d',
 '30d+',
 '30d+',
 '30d+',
 '2d',
 '24h',
 '28d',
 '30d+',
 '17d',
 '24h',
 '21d']

In [54]:
Rating=[]
for i in driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]'):
    Rating.append(i.text)
Rating

['3.7',
 '3.7',
 '4.0',
 '5.0',
 '4.1',
 '4.1',
 '3.7',
 '3.8',
 '3.7',
 '4.3',
 '3.8',
 '3.0',
 '4.2',
 '3.5',
 '3.8',
 '4.1']

In [56]:
df4=pd.DataFrame()
df4['Company_Name']=Company_Name[0:10]
df4['Job posted']=Days[0:10]
df4['Company_Rating']=Rating[0:10]

In [57]:
df4.head()

                       Company_Name Job posted Company_Rating
0             Ginger Webs Pvt. Ltd.         1d            3.7
1                             Crowe         9d            3.7
2                    Biz2Credit Inc       30d+            4.0
3  Mogli Labs India Private Limited         6d            5.0
4                          Techlive       30d+            4.1

In [58]:
df4.shape

(10, 3)

Questions 5:
    
    Write a python program to scrape the salary data for Data Scientist designation
    in Noida location.
    You have to scrape Company name, Number of salaries, Average salary, Min
    salary, Max Salary.
    The above task will be, done as shown in the below steps:
    1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
    2. Enter “Data Scientist” in Job title field and “Noida” in location field.
    3. Click the search button.
    4. After that you will land on the below page
    You have to scrape whole data from this webpage
    5. Scrape data for first 10 companies. Scrape the min salary, max salary, company
    name, Average salary and rating of the company.
    6.Store the data in a dataframe.

In [62]:
driver=webdriver.Chrome('chromedriver.exe')

In [63]:
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [64]:
search_job2=driver.find_element_by_id('KeywordSearch')
time.sleep(10)
search_loc2=driver.find_element_by_id('LocationSearch')
time.sleep(10)
search_btn2=driver.find_element_by_id('HeroSearchButton')

In [65]:
search_job2.send_keys('Data Scientist')
time.sleep(10)
search_loc2.send_keys('Noida')
time.sleep(10)
search_btn2.click()

In [66]:
Company_Name5=[]
for i in driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]'):
    Company_Name5.append(i.text)
Company_Name5

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'Optum Global Solutions',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service',
 'Innovaccer',
 'Optum',
 'Cognizant Technology Solutions',
 'dunnhumby',
 'Vidooly Media Tech',
 'Tech Mahindra',
 'OYO',
 'Nagarro',
 'R Systems',
 'CARS24.com']

In [67]:
No_of_Salaries5=[]
for i in driver.find_elements_by_xpath('//span[@class="m-0 css-1b6bxoo"]'):
    No_of_Salaries5.append(i.text)
No_of_Salaries5

['Average',
 '₹ 22,816 - ₹ 2,78,017',
 '17 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '14 salaries',
 '11 salaries',
 '9 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '7 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries']

In [75]:
No_of_Salaries5=No_of_Salaries5[2:]

In [70]:
Avg_Salaries5=[]
for i in driver.find_elements_by_xpath('//h3[@class="m-0 css-g261rn"]'):
    Avg_Salaries5.append(i.text)
Avg_Salaries5

['Big Data',
 'Data Analyst',
 'Quantitative Analyst',
 'Senior Data Scientist',
 'Tata Consultancy Services',
 '₹ 6,14,306',
 'IBM',
 '₹ 9,00,000',
 'Accenture',
 '₹ 11,46,533',
 'Ericsson-Worldwide',
 '₹ 7,38,057',
 'Delhivery',
 '₹ 12,39,781',
 'UnitedHealth Group',
 '₹ 13,36,142',
 'Optum Global Solutions',
 '₹ 13,26,575',
 'Valiance Solutions',
 '₹ 8,15,192',
 'ZS Associates',
 '₹ 11,35,221',
 'EXL Service',
 '₹ 11,44,243',
 'Innovaccer',
 '₹ 12,07,110',
 'Optum',
 '₹ 12,16,299',
 'Cognizant Technology Solutions',
 '₹ 10,07,410',
 'dunnhumby',
 '₹ 10,54,671',
 'Vidooly Media Tech',
 '₹ 34,103',
 'Tech Mahindra',
 '₹ 10,52,718',
 'OYO',
 '₹ 14,13,078',
 'Nagarro',
 '₹ 9,61,653',
 'R Systems',
 '₹ 18,37,196',
 'CARS24.com',
 '₹ 10,00,000']

In [71]:
avg_sal=Avg_Salaries5[5:]

In [74]:
Average_Salaries=[]
for i in range(0,20,2):
    Average_Salaries.append(avg_sal[i])
Average_Salaries

['₹ 6,14,306',
 '₹ 9,00,000',
 '₹ 11,46,533',
 '₹ 7,38,057',
 '₹ 12,39,781',
 '₹ 13,36,142',
 '₹ 13,26,575',
 '₹ 8,15,192',
 '₹ 11,35,221',
 '₹ 11,44,243']

In [78]:
Min_Salaries5=[]
for i in driver.find_elements_by_xpath('//span[@class="d-block d-lg-none m-0 css-1b6bxoo"]'):
    Min_Salaries5.append(i.text)
Min_Salaries5

['Range: ₹343K - ₹1,250K',
 'Range: ₹586K - ₹2,730K',
 'Range: ₹577K - ₹2,213K',
 'Range: ₹355K - ₹1,613K',
 'Range: ₹450K - ₹11,622K',
 'Range: ₹1,069K - ₹1,520K',
 'Range: ₹350K - ₹2,149K',
 'Range: ₹502K - ₹1,465K',
 'Range: ₹202K - ₹1,809K',
 'Range: ₹575K - ₹1,520K',
 'Range: ₹620K - ₹1,695K',
 'Range: ₹807K - ₹1,986K',
 'Range: ₹792K - ₹1,263K',
 'Range: ₹817K - ₹2,006K',
 'Range: ₹12K - ₹63K',
 'Range: ₹405K - ₹1,703K',
 'Range: ₹971K - ₹1,883K',
 'Range: ₹400K - ₹1,124K',
 'Range: ₹800K - ₹3,041K',
 'Range: ₹853K - ₹1,483K']

In [80]:
k=Min_Salaries5[0].split()

In [85]:
k[1]

'₹343K'

In [88]:
Min_salary=[]
Max_salary=[]
for i in Min_Salaries5:
    k=i.split()
    Min_salary.append(k[1])
    Max_salary.append(k[3])

In [89]:
df5=pd.DataFrame()
df5['Company_Name']=Company_Name5[0:10]
df5['Number of salaries']=No_of_Salaries5[0:10]
df5['Average salary']=Average_Salaries[0:10]
df5['Minimum salary']=Min_salary[0:10]
df5['Maximum salary']=Max_salary[0:10]
df5.head()

,Company_Name,Number of salaries,Average salary,Minimum salary,Maximum salary
0,Tata Consultancy Services,17 salaries,"₹ 6,14,306",₹343K,"₹1,250K"
1,IBM,15 salaries,"₹ 9,00,000",₹586K,"₹2,730K"
2,Accenture,14 salaries,"₹ 11,46,533",₹577K,"₹2,213K"
3,Ericsson-Worldwide,14 salaries,"₹ 7,38,057",₹355K,"₹1,613K"
4,Delhivery,14 salaries,"₹ 12,39,781",₹450K,"₹11,622K"

In [90]:
df5.shape

(10, 5)

Question 6:
    
    Scrape data of first 100 sunglasses listings on flipkart.com. You have to
    scrape four attributes:
    1. Brand
    2. Product Description
    3. Price
    4. Discount %
    The attributes which you have to scrape is ticked marked in the below image.
    To scrape the data you have to go through following steps:
    1. Go to flipkart webpage by url https://www.flipkart.com/
    2. Enter “sunglasses” in the search field where “search for products, brands and
    more” is written and click the search icon
    3. after that you will reach to a webpage having a lot of sunglasses. From this page
    you can scrap the required data as usual.
    4. after scraping data from the first page, go to the “Next” Button at the bottom of
    the page , then click on it
    WEB SCRAPING ASSIGNMENT-2
    .
    5. Now scrape data from this page as usual
    6. repeat this until you get data for 100 sunglasses.
    Note that all of the above steps have to be done by coding only and not manually.

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [4]:
url='https://www.flipkart.com/'
driver.get(url)

In [8]:
search_tag=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_tag

In [10]:
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn

In [11]:
search_tag.send_keys('Sunglasses')

In [12]:
search_btn.click()

In [39]:
Company_Name=[]
Description=[]
Price=[]
Discount=[]
for i in range(5):
    for a in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        Company_Name.append(a.text)
    for b in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
        Description.append(b.text)
    for c in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        Price.append(c.text)
    for d in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span'):
        Discount.append(d.text.strip()[0:2])
        
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]/span').click()
    time.sleep(10)
    
df6=pd.DataFrame()
df6['Brand Name']=Company_Name[0:100]
df6['Product Description']=Description[0:100]
df6['Price']=Price[0:100]
df6['Discount in %']=Discount[0:100]
df6.head()

,Brand Name,Product Description,Price,Discount in %
0,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹479,76
1,AISLIN,"UV Protection, Gradient Round Sunglasses (58)",₹525,65
2,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87
3,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87
4,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87

In [40]:
df6.shape

(100, 4)

Question 7:
    
    Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
    go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
    TSVZAXUHGREPBFGI&marketplace.
    When you will open the above link you will reach to the below shown webpage.
    As shown in the above page you have to scrape the tick marked attributes.
    These are
    1. Rating
    2. Review_summary
    3. Full review
    You have to scrape this data for first 100 reviews.

In [41]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [42]:
click_tag=driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]/span')
click_tag

In [43]:
click_tag.click()

In [51]:
Rating=[]
Review_Summary=[]
Full_Review=[]
for i in range(12):
    for a in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):
        Rating.append(a.text)
    for b in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
        Review_Summary.append(b.text)
    for c in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div'):
        Full_Review.append(c.text)
    
        
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]/span').click()
    time.sleep(10)
    
df7=pd.DataFrame()
df7['Rating']=Rating[0:100]
df7['Review Summary']=Review_Summary[0:100]
df7['Full review']=Full_Review[0:100]
df7.head()

  Rating     Review Summary                                        Full review
0      5          Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
1      5   Perfect product!  Amazing phone with great cameras and better ba...
2      5      Great product  Amazing Powerful and Durable Gadget.\n\nI’m am...
3      5  Worth every penny  Previously I was using one plus 3t it was a gr...
4      4        Good choice  So far it’s been an AMAZING experience coming ...

In [52]:
df7.shape

(100, 3)

Question 8:
    
    Scrape data for first 100 sneakers you find when you visit flipkart.com and
    search for “sneakers” in the search field.
    You have to scrape 4 attributes of each sneaker :
    1. Brand
    2. Product Description
    3. Price
    4. discount %
    As shown in the below image, you have to scrape the tick marked attributes.

In [53]:
url='https://www.flipkart.com/'
driver.get(url)

In [54]:
search_tag=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_tag

In [55]:
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn

In [56]:
search_tag.send_keys('Sneakers')
time.sleep(5)
search_btn.click()

In [66]:
Brand=[]
Product_description=[]
Price=[]
Discount=[]
for i in range(4):
    for a in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        Brand.append(a.text)
    for b in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
        Product_description.append(b.text)
    for c in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        Price.append(c.text)
    for d in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span'):
        Discount.append(c.text.split()[0])
    
        
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(10)
    
df8=pd.DataFrame()
df8['Brand']=Brand[0:100]
df8['Product_description']=Product_description[0:100]
df8['Price']=Price[0:100]
df8['Discount']=Discount[0:100]
df8.head()

,Brand,Product_description,Price,Discount
0,TR,Sneakers For Men,₹379,₹709
1,pollachief,Casual Sneaker for Men Sneakers For Men,₹499,₹709
2,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹349,₹709
3,ORICUM,Combo pack of 2 casual sneaker shoes for men S...,₹419,₹709
4,PEHANOSA,Sneakers For Men,₹499,₹709

In [67]:
df8.shape

(100, 4)

Question 9:
    
    Go to the link - https://www.myntra.com/shoes
    Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in
    the below image
    And then scrape First 100 shoes data you get. The data should include “Brand” of
    the shoes , Short Shoe description, price of the shoe as shown in the below image.
    Please note that applying the filter and scraping the data , everything should be
    done through code only and there should not be any manual step.

In [2]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.myntra.com/shoes'
driver.get(url)

In [3]:
color_filter=driver.find_element_by_xpath('//span[@class="colour-label colour-colorDisplay"]')
color_filter

In [4]:
color_filter.click()

In [6]:
search_bt = driver.find_element_by_xpath("//label[text()='Rs. 6687 to Rs. 13125']")
search_bt.click()

In [15]:
import time
Brand=[]
Product_description=[]
Price=[]
for i in range(8):
    for a in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
        Brand.append(a.text)
    for b in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
        Product_description.append(b.text)
    for c in driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]'):
        Price.append(c.text)
    
        
    driver.find_element_by_xpath('//li[@class="pagination-next"]').click()
    time.sleep(10)
    
df9=pd.DataFrame()
df9['Brand']=Brand[0:100]
df9['Product_description']=Product_description[0:100]
df9['Price']=Price[0:100]
df9.head()

  Brand             Product_description      Price
0  Nike     Men JORDAN DELTA Basketball  Rs. 11246
1  Nike       Men JOYRIDE Running Shoes  Rs. 11470
2  Nike  Unisex COSMIC UNITY Basketball  Rs. 12316
3  Nike    Men KD13 EP Basketball Shoes   Rs. 7796
4  Nike  Unisex LEBRON XVIII Basketball   Rs. 6999

In [16]:
df9.shape

(100, 3)

Question 10:
    
     Go to webpage https://www.amazon.in/
     Enter “Laptop” in the search field and then click the search icon.
     Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the
    below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
    for each laptop:
    1. title
    2. Ratings
    3. Price
    As shown in the below image as the tick marked attributes.

In [62]:
url='https://www.amazon.in/'
driver.get(url)

In [63]:
search_tag=driver.find_element_by_id('twotabsearchtextbox')
search_tag

In [64]:
search_btn=driver.find_element_by_id('nav-search-submit-button')
search_btn

In [65]:
search_tag.send_keys('Laptop')
time.sleep(5)
search_btn.click()

In [66]:
filter1=driver.find_element_by_xpath('//span[text()="Intel Core i7"]')
filter1

In [67]:
filter1.click()

In [68]:
filter2=driver.find_element_by_xpath('//span[text()="Intel Core i9"]')
filter2.click()

In [78]:
import time
Brand=[]
Rating=[]
Price=[]
for i in range(8):
    for a in driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]'):
        Brand.append(a.text)
    for c in driver.find_elements_by_xpath('//span[@class="a-price-whole"]'):
        Price.append(c.text)    
df10=pd.DataFrame()
df10['Brand']=Brand[0:10]
df10['Price']=Price[0:10]
df10.head()

                                               Brand     Price
0  Mi Notebook Horizon Edition 14 Intel Core i5-1...    54,999
1  MSI GS66 Stealth, Intel 10th Gen. i7-10875H, 1...  2,56,072
2  HP Pavilion (2021) Thin & Light 11th Gen Core ...    84,990
3  Mi Notebook Horizon Edition 14 Intel Core i5-1...    54,999
4  Life Digital Laptop 15.6-inch (39.62 cms) (Int...    26,990

In [81]:
Rating=[]
for i in driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span"):
    k=i.get_attribute("aria-label")
    
    Rating.append(k)
Rating

['4.4 out of 5 stars',
 '828',
 '3.0 out of 5 stars',
 '3',
 '4.5 out of 5 stars',
 '90',
 '4.4 out of 5 stars',
 '828',
 '3.1 out of 5 stars',
 '8',
 '5.0 out of 5 stars',
 '3',
 '4.1 out of 5 stars',
 '20',
 '2.3 out of 5 stars',
 '26',
 '3.8 out of 5 stars',
 '8',
 '4.6 out of 5 stars',
 '11',
 '4.7 out of 5 stars',
 '7',
 '5.0 out of 5 stars',
 '3',
 '3.1 out of 5 stars',
 '18',
 '4.4 out of 5 stars',
 '246',
 '4.4 out of 5 stars',
 '64',
 '4.3 out of 5 stars',
 '33',
 '4.4 out of 5 stars',
 '93',
 '3.2 out of 5 stars',
 '6',
 '5.0 out of 5 stars',
 '1',
 '3.9 out of 5 stars',
 '3',
 '3.8 out of 5 stars',
 '23']

In [86]:
Ratings=[]
for i in range(0,20,2):
    Ratings.append(Rating[i])
Ratings

['4.4 out of 5 stars',
 '3.0 out of 5 stars',
 '4.5 out of 5 stars',
 '4.4 out of 5 stars',
 '3.1 out of 5 stars',
 '5.0 out of 5 stars',
 '4.1 out of 5 stars',
 '2.3 out of 5 stars',
 '3.8 out of 5 stars',
 '4.6 out of 5 stars']

In [87]:
df10['Ratings']=Ratings

In [88]:
df10.head()

,Brand,Price,Ratings
0,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"54,999",4.4 out of 5 stars
1,"MSI GS66 Stealth, Intel 10th Gen. i7-10875H, 1...","2,56,072",3.0 out of 5 stars
2,HP Pavilion (2021) Thin & Light 11th Gen Core ...,"84,990",4.5 out of 5 stars
3,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"54,999",4.4 out of 5 stars
4,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"26,990",3.1 out of 5 stars

In [89]:
df10.shape

(10, 3)