In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re

In [2]:
#calling the driver
driver=webdriver.Chrome('chromedriver.exe')

**We are taking the data from car trade.com, since the urls of each page are following some sort of patterns so we are making up the urls**

In [3]:
#Creating the urls of the main page
urls_main_page=[]
for i in range(1,251,1):
    k1='https://www.cartrade.com/buy-used-cars/p-'
    k2=str(i)
    k=k1+k2
    urls_main_page.append(k)

In [4]:
#Collecting the urls of all the cars
name1=[]
for i in urls_main_page:
    driver.get(i)
    time.sleep(2)
    
    #collecting the urls of all the cars present in that page
    names1=driver.find_elements_by_xpath('//h2[@class="h2heading truncate"]/a')
    for i in names1:
        name1.append(i.get_attribute('href'))

In [5]:
#Collecting the total information about a car
car_price=[]
car_name=[]
city_name=[]
fuel_type=[]
kil_d=[]
col_d=[]
owner_d=[]
year_d=[]
x=0
for j in name1:
    driver.get(j)
    time.sleep(2)
    
    #fetching the car price
    try:
        car_p=driver.find_elements_by_xpath('//*[@id="idbybody"]/div[2]/div[8]/div[1]/div[2]/div/div[1]/div[1]/span[2]')
        for i in car_p:
            car_price.append(i.text)
    except NoSuchElementException:
        car_price.append('No details available')
    except StaleElementReferenceException:
        car_price.append('No details available')
        
    #fetching the car name
    try:       
        car_1=driver.find_elements_by_xpath('//*[@id="idbybody"]/div[2]/div[8]/div[1]/div[2]/div[1]/div[2]/h1')
        for i in car_1:
            car_name.append(i.text)
    except NoSuchElementException:
        car_name.append('No details available')
    except StaleElementReferenceException:
        car_name.append('No details available')
        
    # fetching the city name
    try:        
        city=driver.find_elements_by_xpath('//*[@id="idbybody"]/div[2]/div[8]/div[1]/div[2]/div[1]/div[4]/table/tbody/tr[1]/td[2]')
        for i in city:
            city_name.append(i.text)
    except NoSuchElementException:
        city_name.append('No details available')
    except StaleElementReferenceException:
        city_name.append('No details available')  
        
    # fetching the fuel type
    try:
        fuel=driver.find_elements_by_xpath('//*[@id="idbybody"]/div[2]/div[8]/div[1]/div[2]/div[1]/div[4]/table/tbody/tr[2]/td[2]')
        for i in fuel:
            fuel_type.append(i.text)
    except NoSuchElementException:
        fuel_type.append('No details available')
    except StaleElementReferenceException:
        fuel_type.append('No details available')
        
    # fetching the kilometer ran
    try:    
        kil=driver.find_elements_by_xpath('//*[@id="idbybody"]/div[2]/div[8]/div[1]/div[2]/div[1]/div[4]/table/tbody/tr[3]/td[2]')
        for i in kil:
            kil_d.append(i.text)
    except NoSuchElementException:
        kil_d.append('No details available')
    except StaleElementReferenceException:
        kil_d.append('No details available')
        
    #fetching the color of the vehicle
    try:   
        col=driver.find_elements_by_xpath('//*[@id="idbybody"]/div[2]/div[8]/div[1]/div[2]/div[1]/div[4]/table/tbody/tr[4]/td[2]')
        for i in col:
            col_d.append(i.text)
    except NoSuchElementException:
        col_d.append('No details available')
    except StaleElementReferenceException:
        col_d.append('No details available')
        
    #fetching the type of owner
    try:   
        owner=driver.find_elements_by_xpath('//*[@id="idbybody"]/div[2]/div[8]/div[1]/div[2]/div[1]/div[4]/table/tbody/tr[5]/td[2]')
        for i in owner:
            owner_d.append(i.text)
    except NoSuchElementException:
        owner_d.append('No details available')
    except StaleElementReferenceException:
        owner_d.append('No details available') 
        
    #fetching the year of manufacture
    try:
        year=driver.find_elements_by_xpath('//*[@id="idbybody"]/div[2]/div[8]/div[1]/div[2]/div[1]/div[4]/table/tbody/tr[8]/td[2]')
        for i in year:
            year_d.append(i.text)
    except NoSuchElementException:
        year_d.append('No details available')
    except StaleElementReferenceException:
        year_d.append('No details available') 
        
    x=x+1

**Execute below cell only if there is any interruption**

In [ ]:
#only execute if the loops stops by any interruption

for j in range(x,len(name1)):
    driver.get(name1[j])
    time.sleep(2)
    
    #fetching the car price
    try:
        car_p=driver.find_elements_by_xpath('//*[@id="idbybody"]/div[2]/div[8]/div[1]/div[2]/div/div[1]/div[1]/span[2]')
        for i in car_p:
            car_price.append(i.text)
    except NoSuchElementException:
        car_price.append('No details available')
    except StaleElementReferenceException:
        car_price.append('No details available')
        
    #fetching the car name
    try:       
        car_1=driver.find_elements_by_xpath('//*[@id="idbybody"]/div[2]/div[8]/div[1]/div[2]/div[1]/div[2]/h1')
        for i in car_1:
            car_name.append(i.text)
    except NoSuchElementException:
        car_name.append('No details available')
    except StaleElementReferenceException:
        car_name.append('No details available')
        
    # fetching the city name
    try:        
        city=driver.find_elements_by_xpath('//*[@id="idbybody"]/div[2]/div[8]/div[1]/div[2]/div[1]/div[4]/table/tbody/tr[1]/td[2]')
        for i in city:
            city_name.append(i.text)
    except NoSuchElementException:
        city_name.append('No details available')
    except StaleElementReferenceException:
        city_name.append('No details available')  
        
    # fetching the fuel type
    try:
        fuel=driver.find_elements_by_xpath('//*[@id="idbybody"]/div[2]/div[8]/div[1]/div[2]/div[1]/div[4]/table/tbody/tr[2]/td[2]')
        for i in fuel:
            fuel_type.append(i.text)
    except NoSuchElementException:
        fuel_type.append('No details available')
    except StaleElementReferenceException:
        fuel_type.append('No details available')
        
    # fetching the kilometer ran
    try:    
        kil=driver.find_elements_by_xpath('//*[@id="idbybody"]/div[2]/div[8]/div[1]/div[2]/div[1]/div[4]/table/tbody/tr[3]/td[2]')
        for i in kil:
            kil_d.append(i.text)
    except NoSuchElementException:
        kil_d.append('No details available')
    except StaleElementReferenceException:
        kil_d.append('No details available')
        
    #fetching the color of the vehicle
    try:   
        col=driver.find_elements_by_xpath('//*[@id="idbybody"]/div[2]/div[8]/div[1]/div[2]/div[1]/div[4]/table/tbody/tr[4]/td[2]')
        for i in col:
            col_d.append(i.text)
    except NoSuchElementException:
        col_d.append('No details available')
    except StaleElementReferenceException:
        col_d.append('No details available')
        
    #fetching the type of owner
    try:   
        owner=driver.find_elements_by_xpath('//*[@id="idbybody"]/div[2]/div[8]/div[1]/div[2]/div[1]/div[4]/table/tbody/tr[5]/td[2]')
        for i in owner:
            owner_d.append(i.text)
    except NoSuchElementException:
        owner_d.append('No details available')
    except StaleElementReferenceException:
        owner_d.append('No details available') 
        
    #fetching the year of manufacture
    try:
        year=driver.find_elements_by_xpath('//*[@id="idbybody"]/div[2]/div[8]/div[1]/div[2]/div[1]/div[4]/table/tbody/tr[8]/td[2]')
        for i in year:
            year_d.append(i.text)
    except NoSuchElementException:
        year_d.append('No details available')
    except StaleElementReferenceException:
        year_d.append('No details available') 
        
    x=x+1

In [6]:
len(car_price)

5993

In [7]:
len(car_name)

5993

In [8]:
len(city_name)

5993

In [9]:
len(fuel_type)

5993

In [10]:
len(kil_d)

5993

In [11]:
len(col_d)

5993

In [12]:
len(owner_d)

5993

In [13]:
len(year_d)

5993

In [14]:
import pandas as pd
df=pd.DataFrame()
df['Car Price']=car_price
df['Car Name']=car_name
df['City Name']=city_name
df['Fuel type']=fuel_type
df['Kilometer ran']=kil_d
df['Color']=col_d
df['Owner type']=owner_d
df['Year of manufacture']=year_d

In [15]:
df.head()

,Car Price,Car Name,City Name,Fuel type,Kilometer ran,Color,Owner type,Year of manufacture
0,5.65 Lakh,Used Hyundai Grand i10 in Kanpur,Kanpur,Petrol,"9,400 Kms",White,First,2019
1,4 Lakh,Used Hyundai i10 [2010-2017] in Hyderabad,Hyderabad,Petrol,"67,971 Kms",Maroon,First,2014
2,34.75 Lakh,Used MINI Countryman [2015-2018] in Mumbai,Mumbai,Diesel,"18,500 Kms",Grey,First,2018
3,12.58 Lakh,Used Mercedes-Benz C-Class [2010-2011] in Mumbai,Mumbai,Petrol,"66,700 Kms",White,First,2011
4,8 Lakh,Used BMW 5 Series [2007-2010] in Thane,Thane,Diesel,"1,17,123 Kms",Black,First,2008

In [16]:
df.to_csv('car_trade_data.csv')