In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re

In [2]:
#calling the driver
driver=webdriver.Chrome('chromedriver.exe')

# **Booked 1 day in advance ,route is delhi to mumbai and class is Economy**

In [3]:
driver.get("https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=16%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=298066960814&version=1.1&viewName=normal")

In [29]:
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')

In [40]:
df1=pd.DataFrame()
df1['Company Name']=company_name
df1['Departure time']=departure_time
df1['Arrival Time']=arrival_time
df1['Duration']=duration
df1['No of stops']=no_of_stops
df1['Rates']=rates
df1['No of days in advanced booked']=1
df1['class']='Economy'
df1['where to where']="Delhi - Mumbai"
df1['Root Value']=3

In [41]:
df1.shape

(25, 10)

In [42]:
df1.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air Asia,08:00,14:35,6h 35m,1 Stop,"5,953",1,Economy,Delhi - Mumbai,3
1,Air Asia,09:25,16:00,6h 35m,1 Stop,"5,953",1,Economy,Delhi - Mumbai,3
2,Air Asia,12:40,20:15,7h 35m,1 Stop,"5,953",1,Economy,Delhi - Mumbai,3
3,Air Asia,11:55,20:15,8h 20m,1 Stop,"5,953",1,Economy,Delhi - Mumbai,3
4,Air Asia,08:00,16:35,8h 35m,1 Stop,"5,953",1,Economy,Delhi - Mumbai,3

In [43]:
df1.to_csv('flight_data_1.csv')

# **Booked 1 day in advance ,route is delhi to mumbai and class is Premium Economy**

In [44]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=16%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=105486484191&version=1.1&viewName=normal')

In [45]:
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')

In [46]:
df2=pd.DataFrame()
df2['Company Name']=company_name
df2['Departure time']=departure_time
df2['Arrival Time']=arrival_time
df2['Duration']=duration
df2['No of stops']=no_of_stops
df2['Rates']=rates
df2['No of days in advanced booked']=1
df2['class']='Premium Economy'
df2['where to where']="Delhi - Mumbai"
df2['Root Value']=3

In [47]:
df2.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,06:00,08:00,2h 00m,Non Stop,"6,942",1,Premium Economy,Delhi - Mumbai,3
1,Vistara Premium Economy,21:40,23:50,2h 10m,Non Stop,"6,942",1,Premium Economy,Delhi - Mumbai,3
2,Vistara Premium Economy,07:30,09:45,2h 15m,Non Stop,"6,942",1,Premium Economy,Delhi - Mumbai,3
3,Vistara Premium Economy,19:45,22:00,2h 15m,Non Stop,"6,942",1,Premium Economy,Delhi - Mumbai,3
4,Vistara Premium Economy,08:50,11:10,2h 20m,Non Stop,"6,942",1,Premium Economy,Delhi - Mumbai,3

In [53]:
df2.shape

(25, 10)

In [52]:
df2.to_csv('flight_data_2.csv')

# **Booked 1 day in advance ,route is delhi to mumbai and class is Business**

In [54]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=16%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1009476223898&version=1.1&viewName=normal')

In [55]:
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')

In [56]:
df3=pd.DataFrame()
df3['Company Name']=company_name
df3['Departure time']=departure_time
df3['Arrival Time']=arrival_time
df3['Duration']=duration
df3['No of stops']=no_of_stops
df3['Rates']=rates
df3['No of days in advanced booked']=1
df3['class']='Business'
df3['where to where']="Delhi - Mumbai"
df3['Root Value']=3

In [57]:
df3.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air India Business,07:00,09:05,2h 05m,Non Stop,"20,012",1,Business,Delhi - Mumbai,3
1,Air India Business,08:00,10:10,2h 10m,Non Stop,"20,012",1,Business,Delhi - Mumbai,3
2,Air India Business,10:40,12:50,2h 10m,Non Stop,"20,012",1,Business,Delhi - Mumbai,3
3,Air India Business,09:00,11:15,2h 15m,Non Stop,"20,012",1,Business,Delhi - Mumbai,3
4,Air India Business,19:00,21:15,2h 15m,Non Stop,"20,012",1,Business,Delhi - Mumbai,3

In [58]:
df3.shape

(25, 10)

In [59]:
df3.to_csv('flight_data_3.csv')

# **Booked 7 days in advance ,route is delhi to mumbai and class is Economy**

In [60]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1131163749473&version=1.1&viewName=normal')

#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')

In [61]:
df4=pd.DataFrame()
df4['Company Name']=company_name
df4['Departure time']=departure_time
df4['Arrival Time']=arrival_time
df4['Duration']=duration
df4['No of stops']=no_of_stops
df4['Rates']=rates
df4['No of days in advanced booked']=7
df4['class']='Economy'
df4['where to where']="Delhi - Mumbai"
df4['Root Value']=3

In [62]:
df4.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air Asia,09:25,16:00,6h 35m,1 Stop,"5,953",7,Economy,Delhi - Mumbai,3
1,Air Asia,12:40,20:15,7h 35m,1 Stop,"5,953",7,Economy,Delhi - Mumbai,3
2,Air Asia,11:55,20:15,8h 20m,1 Stop,"5,953",7,Economy,Delhi - Mumbai,3
3,Air Asia,18:40,06:20\n+ 1 day,11h 40m,1 Stop,"5,953",7,Economy,Delhi - Mumbai,3
4,Air Asia,08:00,22:10,14h 10m,1 Stop,"5,953",7,Economy,Delhi - Mumbai,3

In [63]:
df4.shape

(25, 10)

In [64]:
df4.to_csv('flight_data_4.csv')

# **Booked 7 days in advance ,route is delhi to mumbai and class is Premium Economy**

In [65]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=37238787992&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df5=pd.DataFrame()
df5['Company Name']=company_name
df5['Departure time']=departure_time
df5['Arrival Time']=arrival_time
df5['Duration']=duration
df5['No of stops']=no_of_stops
df5['Rates']=rates
df5['No of days in advanced booked']=7
df5['class']='Premium Economy'
df5['where to where']="Delhi - Mumbai"
df5['Root Value']=3

df5.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,06:00,08:00,2h 00m,Non Stop,"6,942",7,Premium Economy,Delhi - Mumbai,3
1,Vistara Premium Economy,21:40,23:50,2h 10m,Non Stop,"6,942",7,Premium Economy,Delhi - Mumbai,3
2,Vistara Premium Economy,07:30,09:45,2h 15m,Non Stop,"6,942",7,Premium Economy,Delhi - Mumbai,3
3,Vistara Premium Economy,19:45,22:00,2h 15m,Non Stop,"6,942",7,Premium Economy,Delhi - Mumbai,3
4,Vistara Premium Economy,08:50,11:10,2h 20m,Non Stop,"6,942",7,Premium Economy,Delhi - Mumbai,3

In [67]:
df5.shape

(25, 10)

In [66]:
df5.to_csv('flight_data_5.csv')

# **Booked 7 days in advance ,route is delhi to mumbai and class is Business**

In [68]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1131180863962&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df6=pd.DataFrame()
df6['Company Name']=company_name
df6['Departure time']=departure_time
df6['Arrival Time']=arrival_time
df6['Duration']=duration
df6['No of stops']=no_of_stops
df6['Rates']=rates
df6['No of days in advanced booked']=7
df6['class']='Business'
df6['where to where']="Delhi - Mumbai"
df6['Root Value']=3

df6.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air India Business,07:00,09:05,2h 05m,Non Stop,"20,012",7,Business,Delhi - Mumbai,3
1,Air India Business,08:00,10:10,2h 10m,Non Stop,"20,012",7,Business,Delhi - Mumbai,3
2,Air India Business,10:40,12:50,2h 10m,Non Stop,"20,012",7,Business,Delhi - Mumbai,3
3,Air India Business,20:00,22:10,2h 10m,Non Stop,"20,012",7,Business,Delhi - Mumbai,3
4,Air India Business,09:00,11:15,2h 15m,Non Stop,"20,012",7,Business,Delhi - Mumbai,3

In [75]:
df6.to_csv('flight_data_6.csv')

# Booked in 30 days advance and route is gelhi to mumbai and class is economy,premium economy and business

In [73]:
#Economy class
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=15%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1509232773261&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df7=pd.DataFrame()
df7['Company Name']=company_name
df7['Departure time']=departure_time
df7['Arrival Time']=arrival_time
df7['Duration']=duration
df7['No of stops']=no_of_stops
df7['Rates']=rates
df7['No of days in advanced booked']=30
df7['class']='Economy'
df7['where to where']="Delhi - Mumbai"
df7['Root Value']=3
df7.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,IndiGo,12:55,23:15,10h 20m,1 Stop,"2,456",30,Economy,Delhi - Mumbai,3
1,Air Asia,04:25,06:35,2h 10m,Non Stop,"2,757",30,Economy,Delhi - Mumbai,3
2,SpiceJet,06:30,08:50,2h 20m,Non Stop,"3,086",30,Economy,Delhi - Mumbai,3
3,SpiceJet,07:20,09:35,2h 15m,Non Stop,"3,506",30,Economy,Delhi - Mumbai,3
4,Go First,07:00,09:10,2h 10m,Non Stop,"3,569",30,Economy,Delhi - Mumbai,3

In [74]:
df7.shape

(25, 10)

In [76]:
df7.to_csv('flight_data_7.csv')

In [77]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=15%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1501796634170&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df8=pd.DataFrame()
df8['Company Name']=company_name
df8['Departure time']=departure_time
df8['Arrival Time']=arrival_time
df8['Duration']=duration
df8['No of stops']=no_of_stops
df8['Rates']=rates
df8['No of days in advanced booked']=30
df8['class']='Premium Economy'
df8['where to where']="Delhi - Mumbai"
df8['Root Value']=3
df8.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,06:00,08:00,2h 00m,Non Stop,"3,985",30,Premium Economy,Delhi - Mumbai,3
1,Vistara Premium Economy,09:30,11:40,2h 10m,Non Stop,"4,545",30,Premium Economy,Delhi - Mumbai,3
2,Vistara Premium Economy,12:50,15:00,2h 10m,Non Stop,"4,545",30,Premium Economy,Delhi - Mumbai,3
3,Vistara Premium Economy,19:50,22:00,2h 10m,Non Stop,"4,545",30,Premium Economy,Delhi - Mumbai,3
4,Vistara Premium Economy,10:20,12:35,2h 15m,Non Stop,"4,545",30,Premium Economy,Delhi - Mumbai,3

In [78]:
df8.to_csv('flight_data_8.csv')

In [79]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=15%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=790948575748&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df9=pd.DataFrame()
df9['Company Name']=company_name
df9['Departure time']=departure_time
df9['Arrival Time']=arrival_time
df9['Duration']=duration
df9['No of stops']=no_of_stops
df9['Rates']=rates
df9['No of days in advanced booked']=30
df9['class']='Business'
df9['where to where']="Delhi - Mumbai"
df9['Root Value']=3
df9.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air India Business,07:00,09:05,2h 05m,Non Stop,"23,496",30,Business,Delhi - Mumbai,3
1,Air India Business,08:00,10:10,2h 10m,Non Stop,"23,496",30,Business,Delhi - Mumbai,3
2,Air India Business,10:40,12:50,2h 10m,Non Stop,"23,496",30,Business,Delhi - Mumbai,3
3,Air India Business,20:00,22:10,2h 10m,Non Stop,"23,496",30,Business,Delhi - Mumbai,3
4,Air India Business,09:00,11:15,2h 15m,Non Stop,"23,496",30,Business,Delhi - Mumbai,3

In [80]:
df9.to_csv('flight_data_9.csv')

# Booked in 60 days advance and route is gelhi to mumbai and class is economy,premium economy and business

In [81]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=15%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=76090562220&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df10=pd.DataFrame()
df10['Company Name']=company_name
df10['Departure time']=departure_time
df10['Arrival Time']=arrival_time
df10['Duration']=duration
df10['No of stops']=no_of_stops
df10['Rates']=rates
df10['No of days in advanced booked']=60
df10['class']='Economy'
df10['where to where']="Delhi - Mumbai"
df10['Root Value']=3

df10.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air Asia,04:25,06:35,2h 10m,Non Stop,"2,456",60,Economy,Delhi - Mumbai,3
1,Go First,07:00,09:10,2h 10m,Non Stop,"2,456",60,Economy,Delhi - Mumbai,3
2,Go First,08:00,10:10,2h 10m,Non Stop,"2,456",60,Economy,Delhi - Mumbai,3
3,Go First,02:40,04:55,2h 15m,Non Stop,"2,456",60,Economy,Delhi - Mumbai,3
4,SpiceJet,07:20,09:35,2h 15m,Non Stop,"2,456",60,Economy,Delhi - Mumbai,3

In [82]:
df10.to_csv('flight_data_10.csv')

In [83]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=15%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=221471965333&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df11=pd.DataFrame()
df11['Company Name']=company_name
df11['Departure time']=departure_time
df11['Arrival Time']=arrival_time
df11['Duration']=duration
df11['No of stops']=no_of_stops
df11['Rates']=rates
df11['No of days in advanced booked']=60
df11['class']='Premium Economy'
df11['where to where']="Delhi - Mumbai"
df11['Root Value']=3

df11.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,06:00,08:00,2h 00m,Non Stop,"3,466",60,Premium Economy,Delhi - Mumbai,3
1,Vistara Premium Economy,20:40,22:50,2h 10m,Non Stop,"3,466",60,Premium Economy,Delhi - Mumbai,3
2,Vistara Premium Economy,21:40,23:50,2h 10m,Non Stop,"3,466",60,Premium Economy,Delhi - Mumbai,3
3,Vistara Premium Economy,09:30,11:40,2h 10m,Non Stop,"4,045",60,Premium Economy,Delhi - Mumbai,3
4,Vistara Premium Economy,12:50,15:00,2h 10m,Non Stop,"4,045",60,Premium Economy,Delhi - Mumbai,3

In [84]:
df11.to_csv('flight_data_11.csv')

In [86]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=15%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=288529172067&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df12=pd.DataFrame()
df12['Company Name']=company_name
df12['Departure time']=departure_time
df12['Arrival Time']=arrival_time
df12['Duration']=duration
df12['No of stops']=no_of_stops
df12['Rates']=rates
df12['No of days in advanced booked']=60
df12['class']='Business'
df12['where to where']="Delhi - Mumbai"
df12['Root Value']=3

df12.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Business,20:40,22:50,2h 10m,Non Stop,"22,152",60,Business,Delhi - Mumbai,3
1,Air India Business,07:00,09:05,2h 05m,Non Stop,"23,496",60,Business,Delhi - Mumbai,3
2,Air India Business,08:00,10:10,2h 10m,Non Stop,"23,496",60,Business,Delhi - Mumbai,3
3,Air India Business,10:40,12:50,2h 10m,Non Stop,"23,496",60,Business,Delhi - Mumbai,3
4,Air India Business,20:00,22:10,2h 10m,Non Stop,"23,496",60,Business,Delhi - Mumbai,3

In [87]:
df12.to_csv('flight_data_12.csv')