# Mumbai to Bengaluru

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re

In [2]:
#calling the driver
driver=webdriver.Chrome('chromedriver.exe')

In [21]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F10%2F2021&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=321744122002&version=1.1&viewName=normal')

In [22]:
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')

In [23]:
df1=pd.DataFrame()
df1['Company Name']=company_name
df1['Departure time']=departure_time
df1['Arrival Time']=arrival_time
df1['Duration']=duration
df1['No of stops']=no_of_stops
df1['Rates']=rates
df1['No of days in advanced booked']=1
df1['class']='Economy'
df1['where to where']="Mumbai - Bengaluru"
df1['Root Value']=5

In [24]:
df1.shape

(25, 10)

In [25]:
df1.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air Asia,14:55,22:25,7h 30m,1 Stop,"5,101",1,Economy,Mumbai - Bengaluru,5
1,Air Asia,16:35,01:00\n+ 1 day,8h 25m,1 Stop,"5,101",1,Economy,Mumbai - Bengaluru,5
2,Go First,06:05,07:45,1h 40m,Non Stop,"5,102",1,Economy,Mumbai - Bengaluru,5
3,Go First,18:05,19:45,1h 40m,Non Stop,"5,102",1,Economy,Mumbai - Bengaluru,5
4,Go First,22:15,00:05\n+ 1 day,1h 50m,Non Stop,"5,102",1,Economy,Mumbai - Bengaluru,5

In [26]:
df1.to_csv('flight_data_61.csv')

In [27]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F10%2F2021&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=348213124300&version=1.1&viewName=normal')

In [28]:
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')

In [29]:
df2=pd.DataFrame()
df2['Company Name']=company_name
df2['Departure time']=departure_time
df2['Arrival Time']=arrival_time
df2['Duration']=duration
df2['No of stops']=no_of_stops
df2['Rates']=rates
df2['No of days in advanced booked']=1
df2['class']='Premium Economy'
df2['where to where']="Mumbai - Bengaluru"
df2['Root Value']=5

In [30]:
df2.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,19:10,20:55,1h 45m,Non Stop,"5,894",1,Premium Economy,Mumbai - Bengaluru,5
1,Vistara Premium Economy,07:00,08:50,1h 50m,Non Stop,"5,894",1,Premium Economy,Mumbai - Bengaluru,5
2,Vistara Premium Economy,21:00,22:50,1h 50m,Non Stop,"5,894",1,Premium Economy,Mumbai - Bengaluru,5
3,Vistara Premium Economy,09:05,10:45,1h 40m,Non Stop,"6,202",1,Premium Economy,Mumbai - Bengaluru,5
4,Vistara Premium Economy,16:00,17:45,1h 45m,Non Stop,"6,202",1,Premium Economy,Mumbai - Bengaluru,5

In [31]:
df2.shape

(25, 10)

In [32]:
df2.to_csv('flight_data_62.csv')

In [33]:
drive.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F10%2F2021&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=963674037481&version=1.1&viewName=normal')

NameError: name 'drive' is not defined

In [34]:
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')

In [35]:
df3=pd.DataFrame()
df3['Company Name']=company_name
df3['Departure time']=departure_time
df3['Arrival Time']=arrival_time
df3['Duration']=duration
df3['No of stops']=no_of_stops
df3['Rates']=rates
df3['No of days in advanced booked']=1
df3['class']='Business'
df3['where to where']="Mubai - Bengaluru"
df3['Root Value']=5

In [36]:
df3.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,19:10,20:55,1h 45m,Non Stop,"5,894",1,Business,Mubai - Bengaluru,5
1,Vistara Premium Economy,07:00,08:50,1h 50m,Non Stop,"5,894",1,Business,Mubai - Bengaluru,5
2,Vistara Premium Economy,21:00,22:50,1h 50m,Non Stop,"5,894",1,Business,Mubai - Bengaluru,5
3,Vistara Premium Economy,09:05,10:45,1h 40m,Non Stop,"6,202",1,Business,Mubai - Bengaluru,5
4,Vistara Premium Economy,16:00,17:45,1h 45m,Non Stop,"6,202",1,Business,Mubai - Bengaluru,5

In [37]:
df3.shape

(25, 10)

In [38]:
df3.to_csv('flight_data_63.csv')

In [39]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=229102516871&version=1.1&viewName=normal')

In [41]:

#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')

In [42]:
df4=pd.DataFrame()
df4['Company Name']=company_name
df4['Departure time']=departure_time
df4['Arrival Time']=arrival_time
df4['Duration']=duration
df4['No of stops']=no_of_stops
df4['Rates']=rates
df4['No of days in advanced booked']=7
df4['class']='Economy'
df4['where to where']="Mumbai - Bengaluru"
df4['Root Value']=5

In [43]:
df4.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air Asia,14:55,20:25,5h 30m,1 Stop,"5,101",7,Economy,Mumbai - Bengaluru,5
1,Air Asia,14:55,22:25,7h 30m,1 Stop,"5,101",7,Economy,Mumbai - Bengaluru,5
2,Air Asia,16:35,00:35\n+ 1 day,8h 00m,2 Stop(s),"5,101",7,Economy,Mumbai - Bengaluru,5
3,Air Asia,16:35,01:00\n+ 1 day,8h 25m,1 Stop,"5,101",7,Economy,Mumbai - Bengaluru,5
4,Air Asia,08:00,18:20,10h 20m,1 Stop,"5,101",7,Economy,Mumbai - Bengaluru,5

In [44]:
df4.shape

(25, 10)

In [45]:
df4.to_csv('flight_data_64.csv')

In [49]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1320700864359&version=1.1&viewName=normal')

In [50]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=866685160741&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df5=pd.DataFrame()
df5['Company Name']=company_name
df5['Departure time']=departure_time
df5['Arrival Time']=arrival_time
df5['Duration']=duration
df5['No of stops']=no_of_stops
df5['Rates']=rates
df5['No of days in advanced booked']=7
df5['class']='Premium Economy'
df5['where to where']="Mumbai - Bengaluru"
df5['Root Value']=5

df5.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,09:05,10:45,1h 40m,Non Stop,"5,894",7,Premium Economy,Mumbai - Bengaluru,5
1,Vistara Premium Economy,16:00,17:45,1h 45m,Non Stop,"5,894",7,Premium Economy,Mumbai - Bengaluru,5
2,Vistara Premium Economy,19:10,20:55,1h 45m,Non Stop,"5,894",7,Premium Economy,Mumbai - Bengaluru,5
3,Vistara Premium Economy,07:00,08:50,1h 50m,Non Stop,"5,894",7,Premium Economy,Mumbai - Bengaluru,5
4,Vistara Premium Economy,21:00,22:50,1h 50m,Non Stop,"5,894",7,Premium Economy,Mumbai - Bengaluru,5

In [51]:
df5.shape

(25, 10)

In [52]:
df5.to_csv('flight_data_65.csv')

In [53]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1576464950212&version=1.1&viewName=normal')

In [54]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1228471752704&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df6=pd.DataFrame()
df6['Company Name']=company_name
df6['Departure time']=departure_time
df6['Arrival Time']=arrival_time
df6['Duration']=duration
df6['No of stops']=no_of_stops
df6['Rates']=rates
df6['No of days in advanced booked']=7
df6['class']='Business'
df6['where to where']="Mumbai - Bengaluru"
df6['Root Value']=5

df6.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air India Business,06:15,07:55,1h 40m,Non Stop,"18,000",7,Business,Mumbai - Bengaluru,5
1,Air India Business,09:30,11:10,1h 40m,Non Stop,"18,000",7,Business,Mumbai - Bengaluru,5
2,Air India Business,16:45,18:30,1h 45m,Non Stop,"18,000",7,Business,Mumbai - Bengaluru,5
3,Vistara Business,09:05,10:45,1h 40m,Non Stop,"20,684",7,Business,Mumbai - Bengaluru,5
4,Vistara Business,16:00,17:45,1h 45m,Non Stop,"20,684",7,Business,Mumbai - Bengaluru,5

In [55]:
df6.to_csv('flight_data_66.csv')

In [56]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=864861386014&version=1.1&viewName=normal')

In [57]:
#Economy class
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1127818612526&version=1.1&viewName=normal')
#time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df7=pd.DataFrame()
df7['Company Name']=company_name
df7['Departure time']=departure_time
df7['Arrival Time']=arrival_time
df7['Duration']=duration
df7['No of stops']=no_of_stops
df7['Rates']=rates
df7['No of days in advanced booked']=30
df7['class']='Economy'
df7['where to where']="Mumbai - Bengaluru"
df7['Root Value']=5
df7.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Go First,06:05,07:40,1h 35m,Non Stop,"2,125",30,Economy,Mumbai - Bengaluru,5
1,Go First,14:35,16:10,1h 35m,Non Stop,"2,125",30,Economy,Mumbai - Bengaluru,5
2,Go First,21:00,22:45,1h 45m,Non Stop,"2,125",30,Economy,Mumbai - Bengaluru,5
3,Go First,22:50,00:35\n+ 1 day,1h 45m,Non Stop,"2,125",30,Economy,Mumbai - Bengaluru,5
4,IndiGo,19:55,01:05\n+ 1 day,5h 10m,1 Stop,"2,125",30,Economy,Mumbai - Bengaluru,5

In [58]:
df7.shape

(25, 10)

In [59]:
df7.to_csv('flight_data_67.csv')

In [62]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=30516211476&version=1.1&viewName=normal')

In [63]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1166326297954&version=1.1&viewName=normal')
#time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df8=pd.DataFrame()
df8['Company Name']=company_name
df8['Departure time']=departure_time
df8['Arrival Time']=arrival_time
df8['Duration']=duration
df8['No of stops']=no_of_stops
df8['Rates']=rates
df8['No of days in advanced booked']=30
df8['class']='Premium Economy'
df8['where to where']="Mumbai - Bengaluru"
df8['Root Value']=5
df8.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,22:45,09:00\n+ 1 day,10h 15m,1 Stop,"8,599",30,Premium Economy,Mumbai - Bengaluru,5
1,Vistara Premium Economy,06:00,17:05,11h 05m,1 Stop,"8,599",30,Premium Economy,Mumbai - Bengaluru,5
2,Vistara Premium Economy,21:55,09:00\n+ 1 day,11h 05m,1 Stop,"8,599",30,Premium Economy,Mumbai - Bengaluru,5
3,Vistara Premium Economy,22:45,10:50\n+ 1 day,12h 05m,1 Stop,"8,599",30,Premium Economy,Mumbai - Bengaluru,5
4,Vistara Premium Economy,06:00,18:50,12h 50m,1 Stop,"8,599",30,Premium Economy,Mumbai - Bengaluru,5

In [64]:
df8.to_csv('flight_data_68.csv')

In [65]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16/11/2021&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1328391318365&version=1.1&viewName=normal')

In [66]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1411328027449&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df9=pd.DataFrame()
df9['Company Name']=company_name
df9['Departure time']=departure_time
df9['Arrival Time']=arrival_time
df9['Duration']=duration
df9['No of stops']=no_of_stops
df9['Rates']=rates
df9['No of days in advanced booked']=30
df9['class']='Business'
df9['where to where']="Mumbai - Bengaluru"
df9['Root Value']=5
df9.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Business,09:05,10:45,1h 40m,Non Stop,"20,684",30,Business,Mumbai - Bengaluru,5
1,Vistara Business,16:00,17:45,1h 45m,Non Stop,"20,684",30,Business,Mumbai - Bengaluru,5
2,Vistara Business,17:30,19:15,1h 45m,Non Stop,"20,684",30,Business,Mumbai - Bengaluru,5
3,Vistara Business,19:10,20:55,1h 45m,Non Stop,"20,684",30,Business,Mumbai - Bengaluru,5
4,Vistara Business,06:00,07:50,1h 50m,Non Stop,"20,684",30,Business,Mumbai - Bengaluru,5

In [67]:
df9.to_csv('flight_data_69.csv')

In [68]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1356706894696&version=1.1&viewName=normal')

In [69]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1131156079456&version=1.1&viewName=normal')
#time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df10=pd.DataFrame()
df10['Company Name']=company_name
df10['Departure time']=departure_time
df10['Arrival Time']=arrival_time
df10['Duration']=duration
df10['No of stops']=no_of_stops
df10['Rates']=rates
df10['No of days in advanced booked']=60
df10['class']='Economy'
df10['where to where']="Mumbai - Bengaluru"
df10['Root Value']=5

df10.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air Asia,02:35,04:15,1h 40m,Non Stop,"2,126",60,Economy,Mumbai - Bengaluru,5
1,Air Asia,13:05,14:45,1h 40m,Non Stop,"2,126",60,Economy,Mumbai - Bengaluru,5
2,Vistara,09:05,10:45,1h 40m,Non Stop,"2,180",60,Economy,Mumbai - Bengaluru,5
3,Vistara,16:00,17:45,1h 45m,Non Stop,"2,180",60,Economy,Mumbai - Bengaluru,5
4,Vistara,17:30,19:15,1h 45m,Non Stop,"2,180",60,Economy,Mumbai - Bengaluru,5

In [70]:
df10.to_csv('flight_data_70.csv')

In [73]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1623088378412&version=1.1&viewName=normal')

In [74]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1203679927589&version=1.1&viewName=normal')
#time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df11=pd.DataFrame()
df11['Company Name']=company_name
df11['Departure time']=departure_time
df11['Arrival Time']=arrival_time
df11['Duration']=duration
df11['No of stops']=no_of_stops
df11['Rates']=rates
df11['No of days in advanced booked']=60
df11['class']='Premium Economy'
df11['where to where']="Mubai - Bengaluru"
df11['Root Value']=5

df11.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,22:45,09:00\n+ 1 day,10h 15m,1 Stop,"8,639",60,Premium Economy,Mubai - Bengaluru,5
1,Vistara Premium Economy,06:00,17:05,11h 05m,1 Stop,"8,639",60,Premium Economy,Mubai - Bengaluru,5
2,Vistara Premium Economy,21:55,09:00\n+ 1 day,11h 05m,1 Stop,"8,639",60,Premium Economy,Mubai - Bengaluru,5
3,Vistara Premium Economy,22:45,10:50\n+ 1 day,12h 05m,1 Stop,"8,639",60,Premium Economy,Mubai - Bengaluru,5
4,Vistara Premium Economy,06:00,18:50,12h 50m,1 Stop,"8,639",60,Premium Economy,Mubai - Bengaluru,5

In [75]:
df11.to_csv('flight_data_71.csv')

In [76]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16/12/2021&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=154652990007&version=1.1&viewName=normal')

In [77]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1359195352579&version=1.1&viewName=normal')
#time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df12=pd.DataFrame()
df12['Company Name']=company_name
df12['Departure time']=departure_time
df12['Arrival Time']=arrival_time
df12['Duration']=duration
df12['No of stops']=no_of_stops
df12['Rates']=rates
df12['No of days in advanced booked']=60
df12['class']='Business'
df12['where to where']="Mumbai - Bengaluru"
df12['Root Value']=5

df12.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Business,09:05,10:45,1h 40m,Non Stop,"20,684",60,Business,Mumbai - Bengaluru,5
1,Vistara Business,16:00,17:45,1h 45m,Non Stop,"20,684",60,Business,Mumbai - Bengaluru,5
2,Vistara Business,17:30,19:15,1h 45m,Non Stop,"20,684",60,Business,Mumbai - Bengaluru,5
3,Vistara Business,19:10,20:55,1h 45m,Non Stop,"20,684",60,Business,Mumbai - Bengaluru,5
4,Vistara Business,06:00,07:50,1h 50m,Non Stop,"20,684",60,Business,Mumbai - Bengaluru,5

In [78]:
df12.to_csv('flight_data_72.csv')