# Delhi to Hyderbad

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re

In [2]:
#calling the driver
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=16%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1052664757166&version=1.1&viewName=normal')

In [5]:
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')

In [6]:
df1=pd.DataFrame()
df1['Company Name']=company_name
df1['Departure time']=departure_time
df1['Arrival Time']=arrival_time
df1['Duration']=duration
df1['No of stops']=no_of_stops
df1['Rates']=rates
df1['No of days in advanced booked']=1
df1['class']='Economy'
df1['where to where']="Delhi - Hyderabad"
df1['Root Value']=5

In [7]:
df1.shape

(25, 10)

In [8]:
df1.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Go First,10:45,12:45,2h 00m,Non Stop,"5,954",1,Economy,Delhi - Hyderabad,5
1,Go First,21:15,23:15,2h 00m,Non Stop,"5,954",1,Economy,Delhi - Hyderabad,5
2,Vistara,17:45,19:50,2h 05m,Non Stop,"5,955",1,Economy,Delhi - Hyderabad,5
3,SpiceJet,21:00,23:05,2h 05m,Non Stop,"5,955",1,Economy,Delhi - Hyderabad,5
4,IndiGo,22:00,00:05\n+ 1 day,2h 05m,Non Stop,"5,955",1,Economy,Delhi - Hyderabad,5

In [9]:
df1.to_csv('flight_data_25.csv')

In [10]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=16%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=604352418897&version=1.1&viewName=normal')

In [11]:
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')

In [12]:
df2=pd.DataFrame()
df2['Company Name']=company_name
df2['Departure time']=departure_time
df2['Arrival Time']=arrival_time
df2['Duration']=duration
df2['No of stops']=no_of_stops
df2['Rates']=rates
df2['No of days in advanced booked']=1
df2['class']='Premium Economy'
df2['where to where']="Delhi - Hyderabad"
df2['Root Value']=5

In [13]:
df2.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,07:10,09:25,2h 15m,Non Stop,"6,942",1,Premium Economy,Delhi - Hyderabad,5
1,Vistara Premium Economy,20:35,22:55,2h 20m,Non Stop,"6,942",1,Premium Economy,Delhi - Hyderabad,5
2,Vistara Premium Economy,14:45,17:00,2h 15m,Non Stop,"7,278",1,Premium Economy,Delhi - Hyderabad,5
3,Vistara Premium Economy,17:45,19:50,2h 05m,Non Stop,"10,638",1,Premium Economy,Delhi - Hyderabad,5
4,Vistara Premium Economy,21:40,08:30\n+ 1 day,10h 50m,1 Stop,"11,422",1,Premium Economy,Delhi - Hyderabad,5

In [14]:
df2.shape

(25, 10)

In [15]:
df2.to_csv('flight_data_26.csv')

In [16]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=16%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=924897800076&version=1.1&viewName=normal')

In [17]:
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')

In [18]:
df3=pd.DataFrame()
df3['Company Name']=company_name
df3['Departure time']=departure_time
df3['Arrival Time']=arrival_time
df3['Duration']=duration
df3['No of stops']=no_of_stops
df3['Rates']=rates
df3['No of days in advanced booked']=1
df3['class']='Business'
df3['where to where']="Delhi - Hyderabad"
df3['Root Value']=5

In [19]:
df3.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air India Business,08:20,10:30,2h 10m,Non Stop,"20,000",1,Business,Delhi - Hyderabad,5
1,Air India Business,09:45,11:55,2h 10m,Non Stop,"20,000",1,Business,Delhi - Hyderabad,5
2,Air India Business,21:25,23:35,2h 10m,Non Stop,"20,000",1,Business,Delhi - Hyderabad,5
3,Vistara Business,07:10,09:25,2h 15m,Non Stop,"25,064",1,Business,Delhi - Hyderabad,5
4,Vistara Business,20:35,22:55,2h 20m,Non Stop,"25,064",1,Business,Delhi - Hyderabad,5

In [20]:
df3.shape

(25, 10)

In [21]:
df3.to_csv('flight_data_27.csv')

In [22]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=224951788555&version=1.1&viewName=normal')

In [23]:

#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')

In [24]:
df4=pd.DataFrame()
df4['Company Name']=company_name
df4['Departure time']=departure_time
df4['Arrival Time']=arrival_time
df4['Duration']=duration
df4['No of stops']=no_of_stops
df4['Rates']=rates
df4['No of days in advanced booked']=7
df4['class']='Economy'
df4['where to where']="Delhi - Hyderabad"
df4['Root Value']=5

In [25]:
df4.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Go First,10:45,12:45,2h 00m,Non Stop,"5,954",7,Economy,Delhi - Hyderabad,5
1,Go First,21:15,23:15,2h 00m,Non Stop,"5,954",7,Economy,Delhi - Hyderabad,5
2,Vistara,17:45,19:50,2h 05m,Non Stop,"5,955",7,Economy,Delhi - Hyderabad,5
3,SpiceJet,21:00,23:05,2h 05m,Non Stop,"5,955",7,Economy,Delhi - Hyderabad,5
4,IndiGo,22:00,00:05\n+ 1 day,2h 05m,Non Stop,"5,955",7,Economy,Delhi - Hyderabad,5

In [26]:
df4.shape

(25, 10)

In [27]:
df4.to_csv('flight_data_28.csv')

In [28]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=699009437720&version=1.1&viewName=normal')

In [29]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=866685160741&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df5=pd.DataFrame()
df5['Company Name']=company_name
df5['Departure time']=departure_time
df5['Arrival Time']=arrival_time
df5['Duration']=duration
df5['No of stops']=no_of_stops
df5['Rates']=rates
df5['No of days in advanced booked']=7
df5['class']='Premium Economy'
df5['where to where']="Delhi - Hyderabad"
df5['Root Value']=5

df5.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,17:45,19:50,2h 05m,Non Stop,"6,942",7,Premium Economy,Delhi - Hyderabad,5
1,Vistara Premium Economy,07:10,09:25,2h 15m,Non Stop,"6,942",7,Premium Economy,Delhi - Hyderabad,5
2,Vistara Premium Economy,14:45,17:00,2h 15m,Non Stop,"6,942",7,Premium Economy,Delhi - Hyderabad,5
3,Vistara Premium Economy,20:35,22:55,2h 20m,Non Stop,"6,942",7,Premium Economy,Delhi - Hyderabad,5
4,Vistara Premium Economy,07:30,12:55,5h 25m,1 Stop,"11,422",7,Premium Economy,Delhi - Hyderabad,5

In [30]:
df5.shape

(25, 10)

In [31]:
df5.to_csv('flight_data_29.csv')

In [ ]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1363289937899&version=1.1&viewName=normal')

In [32]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1228471752704&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df6=pd.DataFrame()
df6['Company Name']=company_name
df6['Departure time']=departure_time
df6['Arrival Time']=arrival_time
df6['Duration']=duration
df6['No of stops']=no_of_stops
df6['Rates']=rates
df6['No of days in advanced booked']=7
df6['class']='Business'
df6['where to where']="Delhi - Hyderabad"
df6['Root Value']=5

df6.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,17:45,19:50,2h 05m,Non Stop,"6,942",7,Business,Delhi - Hyderabad,5
1,Vistara Premium Economy,07:10,09:25,2h 15m,Non Stop,"6,942",7,Business,Delhi - Hyderabad,5
2,Vistara Premium Economy,14:45,17:00,2h 15m,Non Stop,"6,942",7,Business,Delhi - Hyderabad,5
3,Vistara Premium Economy,20:35,22:55,2h 20m,Non Stop,"6,942",7,Business,Delhi - Hyderabad,5
4,Vistara Premium Economy,07:30,12:55,5h 25m,1 Stop,"11,422",7,Business,Delhi - Hyderabad,5

In [33]:
df6.to_csv('flight_data_30.csv')

In [36]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1619170180158&version=1.1&viewName=normal')

In [37]:
#Economy class
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1127818612526&version=1.1&viewName=normal')
#time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df7=pd.DataFrame()
df7['Company Name']=company_name
df7['Departure time']=departure_time
df7['Arrival Time']=arrival_time
df7['Duration']=duration
df7['No of stops']=no_of_stops
df7['Rates']=rates
df7['No of days in advanced booked']=30
df7['class']='Economy'
df7['where to where']="Delhi - Hyderabad"
df7['Root Value']=5
df7.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air India,09:45,11:55,2h 10m,Non Stop,"3,015",30,Economy,Delhi - Hyderabad,5
1,Air India,08:10,10:30,2h 20m,Non Stop,"3,015",30,Economy,Delhi - Hyderabad,5
2,IndiGo,07:00,11:20,4h 20m,1 Stop,"3,015",30,Economy,Delhi - Hyderabad,5
3,IndiGo,05:30,11:00,5h 30m,1 Stop,"3,015",30,Economy,Delhi - Hyderabad,5
4,IndiGo,05:30,12:40,7h 10m,1 Stop,"3,015",30,Economy,Delhi - Hyderabad,5

In [38]:
df7.shape

(25, 10)

In [39]:
df7.to_csv('flight_data_31.csv')

In [40]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=637601647867&version=1.1&viewName=normal')

In [41]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1166326297954&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df8=pd.DataFrame()
df8['Company Name']=company_name
df8['Departure time']=departure_time
df8['Arrival Time']=arrival_time
df8['Duration']=duration
df8['No of stops']=no_of_stops
df8['Rates']=rates
df8['No of days in advanced booked']=30
df8['class']='Premium Economy'
df8['where to where']="Delhi - Hyderabad"
df8['Root Value']=5
df8.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,17:40,19:50,2h 10m,Non Stop,"6,942",30,Premium Economy,Delhi - Hyderabad,5
1,Vistara Premium Economy,14:45,17:00,2h 15m,Non Stop,"6,942",30,Premium Economy,Delhi - Hyderabad,5
2,Vistara Premium Economy,07:05,09:25,2h 20m,Non Stop,"6,942",30,Premium Economy,Delhi - Hyderabad,5
3,Vistara Premium Economy,20:35,22:55,2h 20m,Non Stop,"6,942",30,Premium Economy,Delhi - Hyderabad,5

In [42]:
df8.to_csv('flight_data_32.csv')

In [43]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=845140521256&version=1.1&viewName=normal')

In [44]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1411328027449&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df9=pd.DataFrame()
df9['Company Name']=company_name
df9['Departure time']=departure_time
df9['Arrival Time']=arrival_time
df9['Duration']=duration
df9['No of stops']=no_of_stops
df9['Rates']=rates
df9['No of days in advanced booked']=30
df9['class']='Business'
df9['where to where']="Delhi - Hyderabad"
df9['Root Value']=5
df9.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air India Business,09:45,11:55,2h 10m,Non Stop,"23,944",30,Business,Delhi - Hyderabad,5
1,Vistara Business,14:45,17:00,2h 15m,Non Stop,"23,944",30,Business,Delhi - Hyderabad,5
2,Air India Business,08:10,10:30,2h 20m,Non Stop,"23,944",30,Business,Delhi - Hyderabad,5
3,Vistara Business,20:35,22:55,2h 20m,Non Stop,"23,944",30,Business,Delhi - Hyderabad,5
4,Air India Business,21:10,23:35,2h 25m,Non Stop,"23,944",30,Business,Delhi - Hyderabad,5

In [45]:
df9.to_csv('flight_data_33.csv')

In [48]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=763195175775&version=1.1&viewName=normal')

In [49]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1131156079456&version=1.1&viewName=normal')
#time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df10=pd.DataFrame()
df10['Company Name']=company_name
df10['Departure time']=departure_time
df10['Arrival Time']=arrival_time
df10['Duration']=duration
df10['No of stops']=no_of_stops
df10['Rates']=rates
df10['No of days in advanced booked']=60
df10['class']='Economy'
df10['where to where']="Delhi - Hyderabad"
df10['Root Value']=5

df10.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air India,09:45,11:55,2h 10m,Non Stop,"2,518",60,Economy,Delhi - Hyderabad,5
1,Air India,08:10,10:30,2h 20m,Non Stop,"2,518",60,Economy,Delhi - Hyderabad,5
2,Air India,21:10,23:35,2h 25m,Non Stop,"2,518",60,Economy,Delhi - Hyderabad,5
3,Go First,07:20,09:30,2h 10m,Non Stop,"3,120",60,Economy,Delhi - Hyderabad,5
4,IndiGo,11:35,13:50,2h 15m,Non Stop,"3,120",60,Economy,Delhi - Hyderabad,5

In [51]:
df10.to_csv('flight_data_34.csv')

In [50]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=398678176871&version=1.1&viewName=normal')

In [52]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1203679927589&version=1.1&viewName=normal')
#time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df11=pd.DataFrame()
df11['Company Name']=company_name
df11['Departure time']=departure_time
df11['Arrival Time']=arrival_time
df11['Duration']=duration
df11['No of stops']=no_of_stops
df11['Rates']=rates
df11['No of days in advanced booked']=60
df11['class']='Premium Economy'
df11['where to where']="Delhi - Hyderabad"
df11['Root Value']=5

df11.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,17:40,19:50,2h 10m,Non Stop,"6,942",60,Premium Economy,Delhi - Hyderabad,5
1,Vistara Premium Economy,14:45,17:00,2h 15m,Non Stop,"6,942",60,Premium Economy,Delhi - Hyderabad,5
2,Vistara Premium Economy,07:05,09:25,2h 20m,Non Stop,"6,942",60,Premium Economy,Delhi - Hyderabad,5
3,Vistara Premium Economy,20:35,22:55,2h 20m,Non Stop,"6,942",60,Premium Economy,Delhi - Hyderabad,5

In [53]:
df11.to_csv('flight_data_35.csv')

In [54]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=133853077130&version=1.1&viewName=normal')

In [55]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1359195352579&version=1.1&viewName=normal')
#time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df12=pd.DataFrame()
df12['Company Name']=company_name
df12['Departure time']=departure_time
df12['Arrival Time']=arrival_time
df12['Duration']=duration
df12['No of stops']=no_of_stops
df12['Rates']=rates
df12['No of days in advanced booked']=60
df12['class']='Business'
df12['where to where']="Delhi - Hyderabad"
df12['Root Value']=5

df12.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air India Business,09:45,11:55,2h 10m,Non Stop,"23,944",60,Business,Delhi - Hyderabad,5
1,Vistara Business,17:40,19:50,2h 10m,Non Stop,"23,944",60,Business,Delhi - Hyderabad,5
2,Vistara Business,14:45,17:00,2h 15m,Non Stop,"23,944",60,Business,Delhi - Hyderabad,5
3,Vistara Business,07:05,09:25,2h 20m,Non Stop,"23,944",60,Business,Delhi - Hyderabad,5
4,Air India Business,08:10,10:30,2h 20m,Non Stop,"23,944",60,Business,Delhi - Hyderabad,5

In [56]:
df12.to_csv('flight_data_36.csv')