Question 1:

     Write a python program which searches all the product under a particular product from
    www.amazon.in. The product to be searched will be taken as input from user. For e.g. If user
    input is ‚Äòguitar‚Äô. Then search for guitars.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
url='https://www.amazon.in/'
driver.get(url)

In [4]:
def search():
    Search_tag=driver.find_element_by_id('twotabsearchtextbox')
    search_input=str(input('Type here and I will get you there   '))
    Search_tag.send_keys(search_input)
    time.sleep(5)
    search=driver.find_element_by_id('nav-search-submit-button')
    search.click()

In [5]:
search()

Type here and I will get you there   Guitar

Question 2:
    
     In the above question, now scrape the following details of each product listed in first 3 pages
    of your search results and save it in a dataframe and csv. In case if any product has less than 3
    pages in search results then scrape all the products available under that product vertical.
    Details to be scraped are: "Brand Name", "Name of the Product", "Rating", "No. of Ratings",
    "Price", "Return/Exchange", "Expected Delivery", "Availability", "Other Details" and
    ‚ÄúProduct URL‚Äù. In case, if any of the details are missing for any of the product then replace it
    by ‚Äú-‚Äú

In [61]:
from selenium.common.exceptions import NoSuchElementException

In [11]:
Brand_name=[]
for i in range(3):
    try:
        brand_tag=[]
        brand_tag=driver.find_elements_by_xpath('//span[@class="a-size-base-plus a-color-base a-text-normal"]')
        for i in brand_tag:
            Brand_name.append(i.text)
    except NoSuchElementException:
        Brand_name.append(None)
    driver.find_element_by_xpath('//li[@class="a-last"]/a').click()
    time.sleep(6)

In [14]:
df2=pd.DataFrame()
df2['Brand_name']=Brand_name

In [16]:
df2.head()

                                          Brand_name
0  Ju√¢rez Acoustic Guitar, 38 Inch Cutaway, 038C ...
1  Kadence Acoustica Series Semi Acoustic Ash Woo...
2  JUAREZ Arp√©ggio 41 Inch Acoustic Guitar Kit, S...
3  Kadence Frontier Jumbo Semi Acoustic Guitar Wi...
4  Ju√¢rez Acoustic Guitar, 38 Inch Cutaway, 038C ...

In [31]:
df2.shape

(185, 1)

Question 3:
    
    
    Write a python program to access the search bar and search button on images.google.com and
    scrape 100 images each for keywords ‚Äòfruits‚Äô, ‚Äòcars‚Äô and ‚ÄòMachine Learning‚Äô.

In [35]:
driver=webdriver.Chrome('chromedriver.exe')

In [37]:
url='images.google.com'

In [39]:
search_tag=driver.find_element_by_xpath('//input[@class="gLFyf gsfi"]')
search_tag

In [41]:
search_button=driver.find_element_by_xpath('//button[@class="Tg7LZd"]')
search_button

In [42]:
search_tag.send_keys('fruits')

In [43]:
search_button.click()

In [49]:
#fetching url
image_url=[]
for i in driver.find_elements_by_xpath('//div[@class="bRMDJf islir"]/img'):
    image_url.append(i.get_attribute("src"))

In [48]:
image_url_final=[]
image_url_final=image_url[0:100]

In [52]:
search_tag=driver.find_element_by_xpath('//input[@class="gLFyf gsfi"]')
search_tag

In [53]:
search_tag.send_keys('cars')

In [55]:
search_button=driver.find_element_by_xpath('//button[@class="Tg7LZd"]')
search_button.click()

In [56]:
#fetching url of car
image_car=[]
for i in driver.find_elements_by_xpath('//div[@class="bRMDJf islir"]/img'):
    image_car.append(i.get_attribute("src"))
image_car_final=[]
image_car_final=image_car[0:100]

In [57]:
search_tag=driver.find_element_by_xpath('//input[@class="gLFyf gsfi"]')
search_tag.send_keys('machine learning')

In [58]:
search_button=driver.find_element_by_xpath('//button[@class="Tg7LZd"]')
search_button.click()

In [59]:
#fetching the image urls of the machine learning
image_ml=[]
for i in driver.find_elements_by_xpath('//div[@class="bRMDJf islir"]/img'):
    image_ml.append(i.get_attribute("src"))
image_ml_final=[]
image_ml_final=image_ml[0:100]

Question 4:
    
    Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on
    www.flipkart.com and scrape following details for all the search results displayed on 1st page.
    Details to be scraped: ‚ÄúBrand Name‚Äù, ‚ÄúSmartphone name‚Äù, ‚ÄúColour‚Äù, ‚ÄúRAM‚Äù,
    ‚ÄúStorage(ROM)‚Äù, ‚ÄúPrimary Camera‚Äù, ‚ÄúSecondary Camera‚Äù, ‚ÄúDisplay Size‚Äù, ‚ÄúDisplay
    Resolution‚Äù, ‚ÄúProcessor‚Äù, ‚ÄúProcessor Cores‚Äù, ‚ÄúBattery Capacity‚Äù, ‚ÄúPrice‚Äù, ‚ÄúProduct URL‚Äù. In
    case if any of the details is missing then replace it by ‚Äú- ‚Äú. Save your results in a dataframe
    and CSV.

In [125]:
driver=webdriver.Chrome('chromedriver.exe')

In [126]:
url='https://www.flipkart.com/'
driver.get(url)

In [127]:
search_tag=driver.find_element_by_xpath('//div[@class="_3OO5Xc"]/input')
search_tag

In [128]:
search_tag.send_keys('Mi smartphones')

In [129]:
search_button=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()

In [130]:
smartphone_tags=driver.find_elements_by_xpath('//div[@class="_4rR01T"]')

In [131]:
len(smartphone_tags)

24

In [104]:
#fetching the urls
urls=[]
for i in driver.find_elements_by_xpath('//a[@class="_1fQZEK"]'):
    urls.append(i.get_attribute('href'))

In [133]:
Brand_tag=driver.find_elements_by_xpath('//div[@class="_4rR01T"]')
Brand_name=[]
for i in Brand_tag:
    Brand_name.append(i.text)

In [140]:
Brand=[]
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        

        brand = driver.find_element_by_xpath('//a[@id="bylineInfo"]')      

        Brand.append(brand.text)

    except NoSuchElementException:

        Brand.append('-')

Question 5:
    
    Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on
    google maps

In [3]:
url="https://www.latlong.net/"
driver.get(url)

In [4]:
place=driver.find_element_by_id('place')
place

In [5]:
find=driver.find_element_by_id('btnfind')
find

In [9]:
lat=[]
long=[]
def lat(x):
    place.send_keys(x)
    find.click()
    for i in driver.find_element_by_id('lat'):
        lat.append(i.text)
    for i in driver.find_element_by_id('lng'):
        long.append(i.text)

Question 6:
    
    Write a program to scrap details of all the funding deals for second quarter (i.e. July 20 ‚Äì
    September 20) from trak.in.

In [12]:
driver.get('https://trak.in/india-startup-funding-investment-2015/')

In [22]:
date=[]
for i in driver.find_elements_by_xpath('//td[@class="column-2"]'):
    date.append(i.text)

In [23]:
df6=pd.DataFrame()
df6['Date']=date[55:85]

In [26]:
company=[]
for i in driver.find_elements_by_xpath('//td[@class="column-3"]'):
    company.append(i.text)

In [28]:
df6['company']=company[55:85]

In [29]:
Industry=[]
for i in driver.find_elements_by_xpath('//td[@class="column-4"]'):
    Industry.append(i.text)

In [30]:
df6['Industry']=Industry[55:85]

In [31]:
city=[]
for i in driver.find_elements_by_xpath('//td[@class="column-6"]'):
    city.append(i.text)

In [32]:
df6['city']=city[55:85]

In [33]:
Investors_name=[]
for i in driver.find_elements_by_xpath('//td[@class="column-7"]'):
    Investors_name.append(i.text)

In [34]:
df6['Investors_name']=Investors_name[55:85]

In [35]:
Investment_type=[]
for i in driver.find_elements_by_xpath('//td[@class="column-8"]'):
    Investment_type.append(i.text)

In [36]:
df6['Investment_type']=Investment_type[55:85]

In [37]:
amount=[]
for i in driver.find_elements_by_xpath('//td[@class="column-9"]'):
    amount.append(i.text)

In [38]:
df6['amount']=amount[55:85]

In [39]:
df6.head()

,Date,company,Industry,city,Investors_name,Investment_type,amount
0,08/09/2020,Byju‚Äôs,EduTech,Bangalore,"Silver Lake, Tiger Global, General Atlantic an...",Private Equity,"500,000,000"
1,12/09/2020,mCaffeine,Personal Care,Mumbai,"Amicus Capital Private Equity I LLP, Amicus Ca...",Series B,"3,000,000"
2,09/09/2020,Qshala,EduTech,Bangalore,Rainmatter Capital,Angel,"370,000"
3,02/09/2020,Winzo,Online Gaming,New Delhi,"Kalaari Capital Partners, IndigoEdge Managemen...",Series B,"15,500,000"
4,09/09/2020,Hippo Video,Video Customer Experience(CX) Platform,"Newark, Delaware, United States of Amercia","Alpha Wave Incubation, Exfinity Venture Partne...",Series A,"4,500,000"

Question 7:
    
    Write a program to scrap all the available details of best gaming laptops from digit.in.

In [40]:
driver.get('https://www.digit.in/search/?keyword=Best%20gaming%20laptops')

In [41]:
Company_Name=[]
for i in range(10):
    for a in driver.find_elements_by_xpath('//div[@class="searchProduct-desc"]'):
        Company_Name.append(a.text)

    driver.find_element_by_xpath('//a[@class="page-link"]').click()
    time.sleep(3)
    
df7=pd.DataFrame()
df7['Brand Name']=Company_Name

df7.head()

                                          Brand Name
0                                 Asus G750JX-CV069P
1                                      Lenovo G50-30
2  ASUS G53J - A 3D gamer's delight but we want more
3                                Dell Vostro 15 3500
4                       Samsung Series 9 (NP-900X3C)

Question 8:
    
    Write a python program to scrape the details for all billionaires from www.forbes.com.
    Details to be scrapped: ‚ÄúRank‚Äù, ‚ÄúName‚Äù, ‚ÄúNet worth‚Äù, ‚ÄúAge‚Äù, ‚ÄúCitizenship‚Äù, ‚ÄúSource‚Äù,
    ‚ÄúIndustry‚Äù.

In [43]:
driver.get('https://www.forbes.com/billionaires/')

In [45]:
Rank=[]
for i in driver.find_elements_by_xpath('//div[@class="rank"]'):
    Rank.append(i.text)

In [47]:
Name=[]
for i in driver.find_elements_by_xpath('//div[@class="personName"]'):
    Name.append(i.text)

In [48]:
Net_worth=[]
for i in driver.find_elements_by_xpath('//div[@class="netWorth"]'):
    Net_worth.append(i.text)

In [50]:
age=[]
for i in driver.find_elements_by_xpath('//div[@class="age"]'):
    age.append(i.text)

In [51]:
Citizenship=[]
for i in driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]'):
    Citizenship.append(i.text)

In [52]:
Source=[]
for i in driver.find_elements_by_xpath('//div[@class="source"]'):
    Source.append(i.text)

In [58]:
Industry=[]
for i in driver.find_elements_by_xpath('//div[@class="source"]/div/div'):
    Industry.append(i.text)

In [62]:
df8=pd.DataFrame()
df8['Rank']=Rank
df8['Name']=Name
df8['Net_worth']=Net_worth
df8['Age']=age
df8['Citizenship']=Citizenship
df8['Source']=Source
df8.head()

  Rank                      Name Net_worth Age    Citizenship         Source
0   1.                Jeff Bezos    $177 B      United States         Amazon
1   2.                 Elon Musk    $151 B      United States  Tesla, SpaceX
2   3.  Bernard Arnault & family    $150 B             France           LVMH
3   4.                Bill Gates    $124 B      United States      Microsoft
4   5.           Mark Zuckerberg     $97 B      United States       Facebook

Question 9:
    
    Write a program to extract at least 500 Comments, Comment upvote and time when comment
    was posted from any YouTube Video.

In [3]:
from selenium.common.exceptions import NoSuchElementException

In [27]:
driver=webdriver.Chrome('chromedriver.exe')

In [5]:
driver.get('https://www.youtube.com/watch?v=qsKoT__cmAw')

In [6]:
comments_tag=driver.find_elements_by_id('content-text')

In [7]:
len(comments_tag)

20

In [8]:
comment=[]
for i in comments_tag:
    comment.append(i.text)

In [9]:
comment

["The 1.4k people who disliked are just annoyed because they didn't follow the instructions correctly",
 'Imagine I have been unable to open the door for almost 24 years, and now I learned from this man.',
 'Help I now cannot close my door. Part two please.',
 'I am still looking for a tutorial How to open eyes üòÇüòÇ',
 'Disclaimer: the above action is dangerous, do it under adult supervision!',
 'Quarantine: Day 47 ‚Äújust checking if i can open the door ‚Äú',
 '6.5k people demanding for another tutorial on how to close the door. Their doors are still open up to this day',
 'Finally I can go outside my room! Thanx!!',
 "I've learned a lot today, Thank you this video is really useful.",
 'I have decided to donate my two eyes and ears after watching this emotional and inspiring video . Now I can leave this planet very happily and peacefully. Thank you so much for uploading such an inspiring and heart wrenching video.\nHuge respect to you üôèüôè',
 'Finally!! I‚Äôve been stuck in my room ever since the ‚Äúhow to close a door‚Äù episode',
 'Why would people disliked thus vid ??? this is what they searched forü§ß',
 'Super useful, I‚Äôve been locked in the basement for 9 years and I‚Äôve watched this video so many time and I finally figured it out! Thanks!',
 "Okay now i realized millions of people doesn't know how to open a door üòÇ",
 'Omg finally someone that made a video on how to open a door!! I‚Äôve been stuck in my room forever. Thank you for showing me, I always wondered what that weird thing was on my door',
 'UwU',
 'so informative my door opened within a second i was struggling so much thank u üòΩ',
 "Omg thank God I don't have to break the door every time I want to go out thank you",
 'Hey ! can you make a tutorial for closing it cause it was opened for 14 years',
 'After seeing how this series ends, this video feels like a breathe of fresh air.']

Question 10:
    
    10. Write a python program to scrape a data for all available Hostels from
    https://www.hostelworld.com/ in ‚ÄúLondon‚Äù location. You have to scrape hostel name,
    distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms
    from price, facilities and property description.

In [28]:
driver.get('https://www.hostelworld.com')

In [30]:
search_tag=driver.find_element_by_id('location-text-input-field')
search_tag.send_keys('London')

In [32]:
search_button=driver.find_element_by_xpath('//span[@class="search-icon icon"]')
search_button.click()

In [33]:
next_tag=driver.find_element_by_xpath('//div[@class="pagination-item pagination-next"]')
next_tag.click()

In [34]:
hostel_name_tag=driver.find_elements_by_xpath('//h2[@class="title title-6"]')
hostel_name=[]
try:
    
    for i in hostel_name_tag:
        hostel_name.append(i.text)
except NoSuchElementException:
    hostel_name.append(None)

In [37]:
distance_tag=driver.find_elements_by_xpath('//span[@class="description"]')
distance=[]
try:
    
    for i in distance_tag:
        distance.append(i.text)
except NoSuchElementException:
    distance.append(None)

In [43]:
rating_tag=driver.find_elements_by_xpath('//div[@class="score orange big"]')
ratings=[]
try:
    
    for i in rating_tag:
        ratings.append(i.text)
except NoSuchElementException:
    ratings.append(None)

In [55]:
review_tag=driver.find_elements_by_xpath('//div[@class="reviews"]')
review=[]
try:
    
    for i in review_tag:
        review.append(i.text)
except NoSuchElementException:
    review.append(None)

In [60]:
overall_review_tag=driver.find_elements_by_xpath('//div[@class="keyword"]/span')
overall_review=[]
try:
    
    for i in review_tag:
        overall_review.append(i.text)
except NoSuchElementException:
    overall_review.append(None)

In [63]:
len(overall_review)

30

In [64]:
privates_from_tag=driver.find_elements_by_xpath('//div[@class="price title-5"]')
privates_from=[]
try:
    
    for i in privates_from_tag:
        privates_from.append(i.text)
except NoSuchElementException:
    privates_from.append(None)

In [68]:
len(privates_from)

30

In [72]:
df10=pd.DataFrame()
df10['Hostel_name']=hostel_name
df10['distance from citycentre']=distance
df10['ratings']=ratings
df10['review']=review
df10['overall_review']=overall_review
df10['privates_from']=privates_from